<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3 px-1">
            <div class="col-11 heading-main" id="head">
                Smile Transformation Gallery
            </div>
        </div>
        <div class="row d-flex justify-content-center px-1">
            <div class="col-11">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before2.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after2.png">
                                <figcaption>After</figcaption>
                            </figure>                
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <img-comparison-slider>
                            <figure slot="first" class="before">
                                <img width="100%" src="assets/images/before1.png">
                                <figcaption>Before</figcaption>
                            </figure>
                            <figure slot="second" class="after">
                                <img width="100%" src="assets/images/after1.png">
                                <figcaption>After</figcaption>
                            </figure>                
                            
                        </img-comparison-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

