<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main" id="head">
                Bad Breath
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main">
                Dental Advise by Dr. Smile | 5 March 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body">
                <p class="heading-sub">
                    How can I tell if I have bad breath?
                </p>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-11 col-md-10 col-lg-4 ">
                        <img src="../../assets/images/da 5.jpeg" alt="" class="image image-responsive" style="max-height:300px;">
                    </div>
                </div>
                <p>
                    Lots of small signs can show that you have bad breath. Have you noticed people stepping away from you when you start to talk? Do people turn their cheek when you kiss them goodbye? If you think you might have bad breath, there is a simple test that you can do. Just lick the inside of your wrist and sniff - if the smell is bad, you can be fairly sure that your breath is too. Or, ask a very good friend to be absolutely honest with you; but do make sure they are a true friend.

                </p>
                <p class="heading-sub">
                    What causes bad breath?
                </p>
                <p>
                    A bad breath is a very common problem and there are many different causes. Persistent bad breath is usually caused by the smelly gases released by the bacteria that coat your teeth, gums and tongue. Also, bits of food that get caught between the teeth and on the tongue, will rot and can sometimes cause an unpleasant smell. Strong foods like garlic, coffee and onions can add to the problem. So, it is very important to brush your teeth correctly and regularly. This will help keep your breath smelling fresh. <br>

                    The bacteria on our teeth and gums (called ‘plaque') also cause gum disease and tooth decay. One of the warning signs of gum disease is that you always have bad breath or a bad taste in your mouth. Again, your dental team will be able to see and treat the problem during your regular check-ups. The earlier the problems are found, the more effective the treatment will be.
                </p>
                <p class="heading-sub">
                    What else causes bad breath?
                </p>
                <p>
                    Bad breath can also be caused by some medical problems. 'Dry mouth' (xerostomia) is a condition that means your mouth produces less saliva. This causes bacteria to build up in your mouth and this leads to bad breath. Dry mouth may be caused by some medicines, by salivary gland problems or by continually breathing through your mouth instead of your nose. Older people may produce less saliva, causing further problems. <br>

                    If you suffer from dry mouth, your dental team may be able to recommend or prescribe an artificial saliva product. Or they may be able to suggest other ways of dealing with the problem.
                </p>
                <p class="heading-sub">
                    Can other medical conditions cause bad breath?
                </p>
                <p>
                    Other medical conditions that cause bad breath include infections in the throat, nose or lungs; sinusitis; bronchitis; diabetes; or liver or kidney problems. If your dentist finds that your mouth is healthy, you may be referred to your family GP or a specialist to find out the cause of your bad breath.
                </p>
                <p class="heading-sub">
                    Can smoking cause bad breath?
                </p>
                <p>
                    Yes. Tobacco causes its own type of bad breath. The only answer in this case is to stop smoking. As well as making your breath smell, smoking causes staining and loss of taste, and irritates the gums. People who smoke are more likely to suffer from gum disease and have a greater risk of developing cancer of the mouth, lung cancer and heart disease. Ask your dentist, pharmacist or healthcare professional for help with stopping smoking. If you do stop smoking, but still have bad breath, then you need to see your dental team or doctor for advice.
                </p>
                <p class="heading-sub">
                    How can my dentist help?
                </p>
                <p>
                    If you do have bad breath, you will need to start a routine for keeping your mouth clean and fresh. Regular check-ups will allow your dentist to watch out for any places where plaque is caught between your teeth. Your dental team will be able to clean all those areas that are difficult to reach. They will also be able to show you the best way to clean your teeth and gums, and show you any areas you may be missing, including your tongue.
                </p>
                <p class="heading-sub">
                    Can I prevent bad breath?
                </p>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-11 col-md-10 col-lg-4 ">
                        <img src="../../assets/images/da5.jpg" alt="" class="image image-responsive" style="max-height:300px;">
                    </div>
                </div>
                <p>
                    <strong>1. </strong>To keep your breath fresh, you must get rid of any gum disease, and keep your mouth clean and fresh. If you do have bad breath, try keeping a diary of all the foods you eat and list any medicines you are taking. Take this diary to your dentist, who may be able to suggest ways to solve the problem. <br>

                    <strong>2. </strong>Brush your teeth and gums last thing at night and at least one other time during the day, with a fluoride toothpaste. <br>

                    <strong>3. </strong>Don't forget to brush your tongue as well, or use a tongue scraper. Cut down on how often you have sugary food and drinks. <br>

                    <strong>4. </strong>Visit your dental team regularly, as often as they recommend. <br>

                    <strong>5. </strong>Clean in between your teeth with ‘interdental' brushes or floss at least once a day - brushing alone only cleans up to about 60 percent of the surface of your teeth. There are other products you can buy to clean between your teeth. <br>

                    <strong>6. </strong>Use a mouthwash - some contain antibacterial agents that could kill bacteria that make your breath smell unpleasant. <br>

                    <strong>7. </strong>If you continue to suffer from bad breath visit your dental team to make sure that the mouthwash is not covering up a more serious underlying problem. Chew sugar-free gum - it helps your mouth produce saliva and stops it drying out. A dry mouth can lead to bad breath. <br>
                </p>
                <p class="heading-sub">
                    Will mouthwash help?
                </p>
                <p>
                    You should not use a mouthwash just to disguise bad breath. So, if you find that you are using a mouthwash all the time, talk to your dental team. There are many mouthwashes that are specially formulated to help prevent bad breath and gum disease. Some mouthwashes that contain chlorhexidine, and are recommended for gum disease, can cause tooth staining if you use them for a long time. It is important to read the manufacturer's instructions or ask how to use them.
                </p>
                <p class="heading-sub">
                    Will mouthwash help?
                </p>
                <p>
                    You should not use a mouthwash just to disguise bad breath. So, if you find that you are using a mouthwash all the time, talk to your dental team. There are many mouthwashes that are specially formulated to help prevent bad breath and gum disease. Some mouthwashes that contain chlorhexidine, and are recommended for gum disease, can cause tooth staining if you use them for a long time. It is important to read the manufacturer's instructions or ask how to use them.
                </p>
                <p class="heading-sub">
                    How can I prevent bad breath if I wear dentures?
                </p>
                <p>
                    <strong>1. </strong>It is just as important to clean dentures as it is to clean your natural teeth. Bits of food can become caught around the edges of dentures and clasps, and the food can rot if you do not clean them thoroughly. <br>

                    <strong>2. </strong>You should keep a separate toothbrush for cleaning your dentures. The general rule is: brush, soak and brush again. Clean your dentures over a bowl of water in case you drop them. Brush your dentures before soaking them, to help remove any bits of food. <br>

                    <strong>3. </strong>Soak the dentures in a specialist cleaner for a short time and then brush the dentures again. Brush them like you would brush your natural teeth. <br>

                    <strong>4. </strong>Make sure you clean all the surfaces of the dentures, including the surface which fits against your gums. If you notice a build-up of stains or scale, have your dentures cleaned by your dental team. Most dentists still recommend a small- to medium-head toothbrush, or a specialised denture brush if you can get one. <br>
                </p>
                <p class="heading-sub">
                    How can I tell someone they have bad breath?
                </p>
                <p>
                    We probably all know someone who has bad breath, but very few people feel brave enough to discuss the problem. It is obviously a very delicate matter to tell someone they have bad breath. <br>

                    There is always the risk that they will be offended or embarrassed and may never speak to you again! However, it is always worth remembering that the bad breath may be caused by any number of problems. Once the person knows they have bad breath, they can deal with whatever is causing it. <br>

                    You could try talking to their partner or a family member, as the bad breath may be caused by a medical condition which is already being treated. <br>

                    You may like to leave a leaflet where the person is likely to see it. <br>
                </p>
            </div>
            <div class="row d-flex justify-content-center mb-3">
                <div class="col-11 col-md-10 col-lg-4 ">
                    <img src="../../assets/images/bad breath end.png" alt="" class="image image-responsive" style="max-height:400px;">
                </div>
            </div>
        </div>
    </div>
</section>
