<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main" id="head">
               Smoking and Oral health
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main">
                Dental Advice by Dr. Smile | 20th August 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body">
                <p class="heading-sub">
                    How can smoking affect my oral health?
                </p>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-11 col-md-10 col-lg-4 ">
                        <img src="../../assets/images/da 3.jpg" alt="" class="image image-responsive" style="max-height:300px;">
                    </div>
                </div>
                <p>
                    Most people are now aware that smoking is bad for their health. It can cause many different medical problems and, in some cases, fatal diseases. However, many people don't realise the damage that smoking does to their mouth, gums and teeth.
                    <br>
                    Smoking can lead to tooth staining, gum disease, tooth loss, and in more severe cases mouth cancer.
                </p>
                <p class="heading-sub">
                    Why are my teeth stained?
                </p>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-11 col-md-10 col-lg-4 ">
                        <img src="../../assets/images/da3.jpg" alt="" class="image image-responsive" style="max-height:300px;">
                    </div>
                </div>
                <p>
                    One of the effects of smoking is staining on the teeth due to the nicotine and tar in the tobacco. It can make your teeth yellow in a very short time, and heavy smokers often complain that their teeth are almost brown after years of smoking.
                </p>
                <p class="heading-sub">
                    How will smoking affect my gums and teeth?
                </p>
                <p>
                    Smoking can also lead to gum disease. People who smoke are more likely to produce bacterial plaque, which leads to gum disease. The gums are affected because smoking causes a lack of oxygen in the bloodstream, so the infected gums don't heal. Smoking causes people to have more dental plaque and causes gum disease to get worse more quickly than in non-smokers. Gum disease is still the most common cause of tooth loss in adults.
                </p>
                <p class="heading-sub">
                    How is smoking linked with cancer?
                </p>
                <p>
                    Most people know that smoking can cause lung and throat cancer, but many people still don't know that it is one of the main causes of mouth cancer too. Every year thousands of people die from mouth cancer brought on by smoking.
                </p>
                <p class="heading-sub">
                    Are there special dental products I can use?
                </p>
                <p>
                    There are special toothpastes for people who smoke. They are sometimes a little more abrasive than ordinary toothpastes and you should use them with care. Your dental team may recommend that you use these toothpastes alternately with your usual toothpaste. There are several ‘whitening' toothpastes on the market. Although they do not affect the natural colour of your teeth, they may be effective at removing staining, and therefore may improve the overall appearance of your teeth.
                </p>
                <p class="heading-sub">
                    What about mouthwashes?
                </p>
                <p>
                    People who smoke may find they are more likely to have  bad breath than non-smokers. Fresh-breath products such as mouthwashes may help to disguise the problem in the short term, but will not cure it.
                </p>
                <p class="heading-sub">
                    How often should I visit my dentist?
                </p>
                <p>
                   <strong> It is important that you visit your dental team regularly for a normal check-up and a full mouth examination so that any other conditions can be spotted early.</strong><br>

                    You should visit your dental team regularly, as often as they recommend. People who smoke are more likely to have stained teeth, and therefore may need appointments more often with the dental hygienist.
                </p>
                <p class="heading-sub">
                    What can my dentist do for me?
                </p>
                <p>
                    Your dentist will carry out a regular examination to make sure that your teeth and gums and whole mouth are healthy. <br>

                    Your dental team will also examine your cheeks, tongue and throat for any signs of other conditions that may need more investigation. <br>

                    They may also be able to put you in touch with organisations and self-help groups who will have the latest information to help you stop smoking. <br>
                </p>
                <p class="heading-sub">
                    Will I need any extra treatment?
                </p>
                <p>
                    Your dentist may also refer you to a dental hygienist, for extra treatment, thorough cleaning and to keep a closer check on the health of your mouth. Your dental hygienist will be able to advise you on how often you should visit them, although this should usually be every three to six months. 
                </p>
            </div>
            <div class="row d-flex justify-content-center mb-3">
                <div class="col-11 col-md-10 col-lg-4 ">
                    <img src="../../assets/images/quitting-smoking-can-be-tough-but-we-have-put-together-some-steps-that-may-help-you-along-the-way.jpg" alt="" class="image image-responsive" style="max-height:300px;">
                </div>
            </div>
        </div>
    </div>
</section>

