<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-auto col-12 heading-main px-5" id="head">
                Cosmetic Dentistry
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-12 px-5">
                <p>
                    It happens to all of us as we age — our teeth become stained, worn, discolored, misaligned, and even chipped or broken. But there’s something that can help: cosmetic dentistry.
                </p>
                <p>
                    Cosmetic dentistry isn’t just something that’s “nice to have” because it makes your smile look better. Misaligned, crooked, and chipped teeth can have a huge impact on your oral health, your speech, how you eat, bite, and more.
                </p>
                <p class="heading-sub-large">
                    INVISALIGN
                </p>
                <p>
                    We’ll review some of the most common cosmetic dentistry treatments, including the benefits and what you can expect from treatment, to help you determine if cosmetic dentistry is the right option for you. Let’s get started.
                </p>
                <p>
                    If your smile isn’t as straight as you’d like it to be, or if you have overcrowding or gaps you want to correct, you may be wondering if braces are a good option for you! <br>
                    Another great option we recommend to adult patients who aren’t excited about the idea of metal braces is Invisalign.
                </p>
                <p>
                    Invisalign is a teeth aligner treatment that uses a series of clear, hardly noticeable custom-made aligners to straighten teeth over a period of about 12-18 months. Aligners should be worn a minimum of 22 hours each day and can be easily removed when eating or for cleaning. 
                </p>
                <p>Used to treat : </p>
                <ul>
                    <li class="text-point">Crooked teeth</li>
                    <li class="text-point">Crooked teeth</li>
                    <li class="text-point">Gaps between teeth</li>
                </ul>
                <p class="heading-sub">
                    Benefits
                </p>
                <ol>
                    <li class="text-point">
                        Invisalign and braces help straighten your smile and boost your confidence. But they also leave a positive impact on your health, too. Aligning your teeth, stopping overcrowding, and closing gaps between teeth helps.
                    </li>
                    <li class="text-point">
                        Lower your risk of developing cavities and gum disease - People with crooked teeth are statistically more susceptible to developing these oral health problems. 
                    </li>
                    <li class="text-point">
                        Reduce TMJ pain - Multiple crooked teeth can cause you to chew differently, in turn causing pain in your jaw.  
                    </li>
                    <li class="text-point">
                        Make it easier to brush and floss - When your teeth are crooked, crowded, or have gaps, it can be difficult and even frustrating to try to reach all of the areas to maintain healthy oral hygiene.
                    </li>
                </ol>
                <p class="heading-sub">
                    When Invisalign may be right for you -
                </p>
                <p>
                    When choosing between traditional metal braces or Invisalign, it’s important to consider the pros and cons of each. <br>

                    Invisalign is a good option for most adult candidates, as long as they are willing to:
                </p>
                <ul>
                    <li class="text-point">
                        Remain committed to treatment compliance – Invisalign aligners must be worn a minimum of 22 hours per day in order to see results, and you will need to soak your aligners daily to keep them clean. 
                    </li>
                    <li class="text-point">
                        Consider how the new routine will impact their life – It might seem simple in theory, but it’s worth noting that Invisalign is a lifestyle change. You’ll need to remove your Invisalign aligners each time you eat, brush your teeth before putting them back on, and clean them daily. 
                    </li>
                </ul>
                <p class="heading-sub-large">
                    VENEERS
                </p>
                <p>
                    Dental veneers are a cosmetic dentistry treatment that helps your smile appear straighter and whiter. It involves applying thin, tooth-colored porcelain over the teeth. Veneers look like natural teeth and when cared for properly, are extremely durable.
                </p>
                <p>Used to treat : </p>
                <ul>
                    <li class="text-point"> Broken or chipped teeth </li>
                    <li class="text-point">Severely stained or discolored teeth </li>
                    <li class="text-point">A smile with gaps between teeth </li>
                    <li class="text-point">Small teeth</li>
                </ul>
                <p class="heading-sub">
                    Benefits
                </p>
                <ol>
                    <li class="text-point">
                        Restores the form and function of chipped or broken teeth - Broken and chipped teeth can not only irritate the mouth, but they can also cause an infection that leads to pain, tooth sensitivity, and if left untreated, a root canal.  
                    </li>
                    <li class="text-point">
                        Immediately brightens your smile - Most teeth whitening treatments take a minimum of 3-4 weeks before patients see a change in their smile. But dental veneers help make your smile appear brighter, whiter, and more symmetrical as soon as they’re bonded to the teeth.  
                    </li>
                    <li class="text-point">
                        Closes gaps that can cause problems - Gaps in the teeth can invite bacteria to thrive in hard-to-reach areas, increasing the risk of developing tooth decay or gum disease.
                    </li>
                    <li class="text-point">
                        A highly stain and chip-resistant treatment that lasts up to 20 years - When cared for properly, veneers are a great, long-term solution to achieving a brighter, natural looking smile. 
                    </li>
                </ol>
                <p class="heading-sub">
                    When Veneers may be right for you -
                </p>
                <ul>
                    <li class="text-point">
                        You have moderate to severe stains or discoloration on your teeth 
                    </li>
                    <li class="text-point">
                        You have chipped or broken teeth  
                    </li>
                    <li class="text-point">
                        You have moderately crooked teeth 
                    </li>
                    <li class="text-point">
                        You want to reshape or lengthen your teeth
                    </li>
                </ul>
                <p>
                    If you’re interested in learning more about veneers, talk with Dr. Smile about it. Due to the application process, veneers aren’t right for everyone, but Dr. Dooley will be able to help determine your smile goals and recommend the best treatment for you. Contact us today to learn more.
                </p>
                <p class="heading-sub-large">
                    Teeth Whitening
                </p>
                <p>
                    If you’ve been dreaming of a whiter smile, you’re not alone. In fact, a survey found that 75% of people reported that they wished their smile was whiter. That’s where professional teeth whitening treatments come in.
                </p>
                <p>Used to treat : </p>
                <ul>
                    <li class="text-point">  Stained and discolored teeth </li>
                </ul>
                <p class="heading-sub">
                    Benefits
                </p>
                <ol>
                    <li class="text-point">
                        Makes teeth appear brighter and whiter - This boosts your self-confidence and can even minimize the appearance of wrinkles. 
                    </li>
                    <li class="text-point">
                        Faster results than over the counter treatment - When you opt for professional teeth whitening treatment, you can see results within hours.
                    </li>
                </ol>
                <p class="heading-sub">
                    When  teeth whitening may be right for you -
                </p>
                <p>
                    If you’re self-conscious about staining on your teeth, or jusy wish your smile was brighter, teeth whitening may be right for you! Talk with Dr. Smile about: 
                </p>
                <ul>
                    <li class="text-point">
                        In-office teeth whitening - We create comfortable custom trays to fit over your top and bottom teeth and fill them with concentrated teeth whitening gel. This treatment takes about an hour to complete. 
                    </li>
                    <li class="text-point">
                        Zoom whitening. This option is best for severely stained teeth. Dr. Smile uses a high-tech Zoom light to help whitening gel deeply penetrate the teeth and break up stains. 
                    </li>
                </ul>
                <p class="heading-sub-large">
                   BOTOX
                </p>
                <p>
                    Many people are surprised to learn that they can receive Botox treatments right here! Botox has been named as a “miracle drug,” and we’ve seen firsthand both its aesthetic and therapeutic benefits. 
                </p>
                <p>Used to treat : </p>
                <ul>
                    <li class="text-point">   Signs of aging </li>
                    <li class="text-point">  TMJ and jaw pain</li>
                    <li class="text-point">  Stained and discolored teeth </li>
                </ul>
                <p class="heading-sub">
                    Benefits
                </p>
                <ol>
                    <li class="text-point">
                        Makes you appear younger - Botox injections decrease the appearance of brow lines, forehead lines, crows feet, wrinkles around the eyes, and lip lines.
                    </li>
                    <li class="text-point">
                        Relaxes your facial muscles and eases pain - Botox is a natural muscle relaxant that can help ease painful tension in the jaw muscles that arises from TMJ or pain from teeth grinding and clenching. Relaxing your facial muscles also helps prevent wrinkles and lines from developing.
                    </li>
                </ol>
                <p class="heading-sub">
                    When  botox may be right for you -
                </p>
                <p>
                    If you’d like to reduce the appearance of wrinkles on your face, or are suffering from pain in the teeth and jaw due to TMJ or teeth clenching, ask Dr. Smile if dental botox may be a good treatment for you. People who are pregnant, breastfeeding, or with certain neurological conditions should avoid Botox treatment.
                </p>
            </div>
        </div>
    </div>
</section>