<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main" id="head">
                Keeping You Safe During COVID-19
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main">
                by Dr. Smile | 4 March 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-11 col-md-10 col-lg-10 ">
                <img src="../../assets/images/covid-19-image.png" alt="" class="image image-responsive">
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-11 col-md-10 col-lg-10 text-body">
                <p>
                    Dr. Smile is happy to announce that, we are once again open for clinical appointments (fillings, crowns, implants, extractions, etc.)
                </p>
                <p>
                    Please contact us to book your appointment.
                </p>
                <p>
                    Patient safety has always been our top priority. We’ll continue to treat every patient with universal precautions and are taking extra measures to keep you and your family safe during this pandemic.
                </p>
                <p class="heading-sub">
                    What we’re doing to keep you safe
                </p>
                <p>
                    Infection control has always been a top priority for our practice. In the midst of the current Coronavirus pandemic, we’d like to reassure you that our team continues to be committed to your health and well-being. 
                </p>
                <p>
                    We’re implementing extra precautions to exceed all mandated safety procedures, including:
                </p>
                <p>
                    <strong>1.</strong> Taking temperatures of every team member before the day begins.
                </p>
                <p>
                    <strong>2.</strong> Utilizing extra intraoral suction devices to decrease aerosols..
                </p>
                <p>
                    <strong>3.</strong> Wearing the best-available personal protective equipment (PPE), including custom-fitted masks and face shields to prevent unknown cross-contamination. We also wear clean patient gowns for each appointment.
                </p>
                <p class="heading-sub">
                    What to expect at your next appointment
                </p>
                <p>
                    In addition to the extra sterilization and infection control procedures above, you may notice a few changes at your next appointment.
                </p>
                <p>
                    <strong>1.</strong> We’ll take your temperature..
                </p>
                <p>
                    <strong>2.</strong> We’re doing our best to reduce waiting times for you and reduce the number of patients in the reception area at any one time.
                </p>
                <p>
                    <strong>3.</strong> We proactively clean and disinfect our waiting rooms, patient rooms, and are limiting common “touch points,” like the computer registration pads etc.
                </p>
                <p>
                    <strong>4.</strong>  Hand sanitizer will be available at check-in and check-out — we’ll encourage you to use it!
                </p>
                <p>
                    <strong>5.</strong> Toys, books and magazines have been removed from our waiting rooms for infection control purposes.
                </p>
                <p>
                    <strong>6.</strong> We request that families limit non-essential adults during office visits. When possible, only bring the child/children being seen for a visit with one parent/guardian.
                </p>
                <p>
                    We’ve missed seeing you here in our office and are ready to safely provide you with the high-quality, comprehensive care you’ve come to expect.
                </p>
                <p class="heading-sub">
                    The importance of good oral hygiene during the pandemic
                </p>
                <p>
                    Taking care of your dental health is always important — but it’s especially critical during this Coronavirus pandemic. There is a direct correlation to the health of the mouth and the overall body. Infection, inflammation, and other oral health issues have been linked to a variety of diseases.
                </p>
                <p>
                    Don’t let oral health issues affect your ability to fight off a virus and stay healthy. Our team is here to keep your teeth and gums healthy, reducing your risk of getting sick and improving your health during this vulnerable time.
                </p>
                <p class="heading-sub">
                    Thanks for your trust...
                </p>
                <p>
                    On behalf of the entire Dr. Smile team, I would like to personally thank each and every one of you for trusting your dental care with us. We will get through these challenging times together. I look forward to continuing to provide you and your families with the best dental care.
                </p>
                <p>
                    Dr. Abir Kumar Saha
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-11 col-md-10 col-lg-10 ">
                <img src="../../assets/images/fighting-virus-26097.jpg" alt="" class="image image-responsive">
            </div>
        </div>
    </div>
</section>

