<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main px-5" id="head">
                Why Smiling Is Good for Your Health ?
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main px-5">
                Dental Advise by Dr. Smile | 8 May 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body px-5">
                <p>
                    A smile is more than just a sign of happiness. Did you know it can also improve your health and the moods of those around you? We’ll review the health benefits of smiling, how your oral health impacts your smile, and some ways to add more smiling to your life.
                    <br>
                    7 amazing benefits of smiling -
                </p>
                <ul>
                    <li class="text-point">Lowers your blood pressure</li>
                    <li class="text-point">Reduces stress and tension in muscles</li>
                    <li class="text-point">Boosts your immune system</li>
                    <li class="text-point">Lowers your heart rate</li>
                    <li class="text-point">Decreases feelings of depression or aggression</li>
                    <li class="text-point">Increases your approachability</li>
                    <li class="text-point">Improves your mood</li>
                </ul>
                <p class="heading-sub">
                    What happens when you smile?
                </p>
                <p>
                    It doesn’t take much to smile, but the chain reaction it sets off has lasting effects not only on you, but on those around you. Let's get to know how !
                </p>
                <ol>
                    <li class="text point">
                        <p>
                            <strong>Brain and body</strong> <br>
                            Smiling activates neuropeptides in the brain, which directly affect our ability to fight off stress.
                            When you flash a smile or see someone else smiling at you, it also triggers the release of the body’s feel-good chemicals into the bloodstream: endorphins, serotonin and dopamine. 
                            Specifically, the release of serotonin into the brain serves as a natural antidepressant and mood booster, making you feel more positive. 
                            Endorphins and dopamine on the other hand, are tied to our feelings of stress and pain. The release of these chemicals into the body helps to ease stress by soothing inflamed muscles, lowering the heart rate, and decreasing blood pressure.    
                        </p>
                    </li>
                    <li class="text point">
                        <p>
                            <strong>Immune system</strong> <br>
                            Did you know that stress and depression weakens the immune system? Experiencing feelings of stress or depression for even just a few days can dramatically impact the production of our immunity-boosting and infection-fighting cells. We know that when we smile, our brain releases serotonin and dopamine — both chemicals known to increase feelings of happiness and decrease depression. Some studies even suggests that smiling helps us live longer.       
                        </p>
                    </li>
                    <li class="text point">
                        <p>
                            <strong>Self-esteem</strong> <br>
                            People treat you differently when you smile. Research suggests that the simple act of smiling makes you appear younger, more attractive, friendly, and reliable. The more approachable you are, the more people will be drawn to talking to you. Smiling more can also impact your productivity at work and increase your communication skills.   
                        </p>
                    </li>
                    <li class="text point">
                        <p>
                            <strong>Other people</strong> <br>
                            <em>“Smiling is contagious.”</em>
                            And it’s true — smiling has been scientifically proven to be contagious.
                            In fact, research suggests that most facial expressions are contagious. We mimic the facial expressions we see in an attempt to better understand the person we’re looking at, and to fit in. 

                            So the next time you smile at someone, consider that you could be setting off a chain reaction of positivity — not only will you feel happier when you see a smile reflected back at you, but others will feel happier as they smile, too.

                            Common oral health problems that affect your smile
                        </p>
                    </li>
                </ol>
                <p>
                    Not only does your oral health affect your overall health — it also impacts your smile. If you are experiencing a dental problem or are self-conscious about the way your smile looks, you are more likely to try to hide your smile, or not smile at all. 
                </p>
                <p>
                    Here are a few common dental problems that affect your smile: 
                </p>
                <ul>
                    <li class="text-point">Toothaches — Make it hurt to smile </li>
                    <li class="text-point">Gum disease — Impact how your smile looks and can lead to loose teeth </li>
                    <li class="text-point">Missing teeth — Affect the way you hold your mouth and the stability of the jaw </li>
                    <li class="text-point">Crooked teeth — Misalign your bite and make you feel self conscious when smiling</li>
                    <li class="text-point">Stained teeth — Make you self-conscious when smiling</li>
                    <li class="text-point">TMJ disorder — Cause pain or stiffness when smiling due to muscle and joint inflammation</li>
                </ul>
                <br>
                <br>
                <p>
                    <strong>
                        If you are experiencing any of these dental problems, reach out to us and find out how we can help. Easy tips for smiling more
                    </strong>
                </p>
                <p>
                    <strong>Tip #1 : If you don’t like your smile, consider dental treatments</strong> <br>
                    There are a lot of things your dentist can do to help if you are hurting or feeling self-conscious about your smile. Here are a few common dental problems and their corresponding treatments: <br>

                    Problem and solutions... <br>

                    <strong>1. </strong> teeth - Implants, bridges, dentures <br>
                    <strong>2. </strong>Discolored teeth - Cosmetic dentistry, like teeth whitening, dental veneers <br>
                    <strong>3. </strong>Crooked teeth - Braces or Invisalign <br>

                    We don’t want anyone to miss out on the positive health benefits that come from smiling! Contact us today to learn how we can help you achieve the smile you’ve always wanted.
                </p>
                <p>
                    <strong>Tip #2 :  Practice self care </strong> <br>
                    You don’t have to book an expensive massage or go on a luxurious vacation to practice self-care. Self-care can be as simple as carving out some time to read 10 pages of your favorite book, taking a bubble bath, or sitting down for 5 minutes of meditation. <br>

                    The goal here is to do the things that help you feel more relaxed and at ease — when you are, you’ll smile more. 
                </p>
                <p>
                    <strong>Tip #3 :  Surround yourself with positive people</strong> <br>
                    Don’t take this one literally while we are going through the COVID-19 pandemic, but in general, it’s good to have a close community of positive people in your life. Their positivity will rub off on you and encourage you to reframe challenges you face in a more positive light. If you constantly interact with negative people, their negative thoughts will bring you down. <br>
                </p>
                <p>
                    <strong>Tip #4 :   Maintain good oral hygiene</strong> <br>
                    Good oral hygiene habits are a simple way to keep your smile healthy and beautiful. A basic oral hygiene routine includes <br>

                   <strong>1. </strong>Brushing twice a day for at least two minutes <br>
                   <strong>2. </strong>Flossing daily <br>
                   <strong>3. </strong>Using a mouthwash <br>
                   <strong>4. </strong>Avoiding sugary and/or acidic drinks <br>
                   <strong>5. </strong>Visiting your dentist every 6 months for regular cleanings and exams <br>
                </p>
                <p>
                    <strong>Tip #5 :  Try smiling for 1-2 minutes a day</strong> <br>
                    This one might seem weird, but the simple practice of smiling for a few minutes each day can put you in a good mood. And interestingly, research suggests the smile doesn’t even need to be a real smile for you to reap the benefits! A fake smile can work just as well at boosting your mood.
                </p>
                <p>
                    <strong><a href="javascript:void( window.open( 'https://form.jotform.com/211982448397469', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) " style="color: #fab441;line-height: 1.75; font-weight: 700;">Contact Dr. Smile !</a></strong>
                </p>
                <p>
                    Whether you already love your smile or are looking to achieve your ideal smile, Dr. Smile and the team are here for you!
                </p>
            </div>
        </div>
    </div>
</section>
