<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main px-5" id="head">
                Dental Erosion
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main px-5">
                Dental Advice by Dr. Smile | 8 May 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body px-5">
                <p class="heading-sub">
                    What is dental erosion ?
                </p>
                <p>
                    Erosion is the loss of tooth enamel caused by acid attack. Enamel is the hard, protective coating of the tooth, which protects the sensitive dentine underneath. When the enamel is worn away, the dentine underneath is exposed, which may lead to pain and sensitivity.
                </p>
                <p class="heading-sub">
                    How do I know I have dental erosion?
                </p>
                <p>
                    Erosion usually shows up as hollows in the teeth and a general wearing away of the tooth surface and biting edges. This can expose the dentine underneath, which is a darker, yellower colour than the enamel. Because the dentine is sensitive, your teeth can also be more sensitive to heat and cold, or acidic foods and drinks.
                </p>
                <p class="heading-sub">
                    What causes dental erosion?
                </p>
                <p>
                    Every time you eat or drink anything acidic, the enamel on your teeth becomes softer for a short while, and loses some of its mineral content. Your saliva will slowly cancel out this acidity in your mouth and get it back to its natural balance. However, if this acid attack happens too often, your mouth does not have a chance to repair itself and tiny bits of enamel can be brushed away. Over time, you start to lose the surface of your teeth.
                </p>
                <p class="heading-sub">
                    Are there any medical problems which can cause dental erosion?
                </p>
                <p>
                    Bulimia is a condition where patients make themselves sick so that they lose weight. Because there are high levels of acid in the vomit, this can cause damage to tooth enamel. <br>

                    Acids produced by the stomach can come up into the mouth (this is called gastro-oesophageal reflux). People suffering from hiatus hernia or oesophageal problems, or who drink too much alcohol, may also find they suffer from dental erosion due to vomiting
                </p>
                <p class="heading-sub">
                    Can my diet help prevent dental erosion?
                </p>
                <p>
                    Acidic foods and drinks can cause erosion. Acidity is measured by its ‘pH value', and anything that has a pH value lower than 5.5 is more acidic and can harm your teeth. <br>

                    Fizzy drinks, sodas, pops and carbonated drinks can cause erosion. It is important to remember that even the ‘diet' brands are still harmful. Even flavoured fizzy waters can have an effect if drunk in large amounts, as they contain weak acids which can harm your teeth. <br>

                    Acidic foods and drinks such as fruit and fruit juices - particularly citrus ones including lemon and orange - contain natural acids which can be harmful to your teeth, especially if you have a lot of them often. <br>

                    ‘Alcopops', ‘coolers' and ‘designer drinks' that contain acidic fruits and are fizzy can cause erosion too. <br>

                    Plain, still water is the best drink for teeth. Milk is also good because it helps to cancel out the acids in your mouth. <br>
                </p>
                <p class="heading-sub">
                    Are sports drinks safe?
                </p>
                <p>
                    Many sports drinks contain ingredients that can cause dental erosion as well as decay. However, it is important for athletes to avoid dehydration because this can lead to a dry mouth and bad breath.
                </p>
                <p class="heading-sub">
                    What can I do to prevent dental erosion?
                </p>
                <p>
                    There are a number of things you can do : <br>
                    <strong>1.</strong>Have acidic food and drinks, and fizzy drinks, sodas and pops, just at mealtimes. This will reduce the number of acid attacks on your teeth. <br>
                    <strong>2.</strong>Drink quickly, without holding the drink in your mouth or ‘swishing' it around your mouth. Or use a straw to help drinks go to the back of your mouth and avoid long contact with your teeth.<br>
                    <strong>3.</strong>Finish a meal with cheese or milk as this will help cancel out the acid.<br>
                    <strong>4.</strong>Chew sugar-free gum after eating. This will help produce more saliva to help cancel out the acids which form in your mouth after eating.<br>
                    <strong>5.</strong>Wait for at least one hour after eating or drinking anything acidic before brushing your teeth. This gives your teeth time to build up their mineral content again.<br>
                    <strong>6.</strong>Brush your teeth last thing at night and at least one other time during the day, with fluoride toothpaste. Use a small-headed brush with medium to soft bristles.<br>
                    <strong>7.</strong>Children up to three years old should use a toothpaste with a fluoride level of at least 1000ppm (parts per million). Three-year-olds to adults should use a toothpaste that contains 1350ppm to 1500ppm. <br>
                </p>
                <p class="heading-sub">
                    Should I use any other special products?
                </p>
                <p>
                    As well as using a fluoride toothpaste, your dental team may suggest you use a fluoride-containing mouthwash and have a fluoride varnish applied at least every six months. They may also prescribe a toothpaste with more fluoride in it.
                </p>
                <p class="heading-sub">
                    How can it be treated?
                </p>
                <p>
                    Dental erosion does not always need to be treated. With regular check-ups and advice your dental team can prevent the problem getting any worse and the erosion going any further. If a tooth does need treatment, it is important to protect the enamel and the dentine underneath to prevent sensitivity.
                    <br>
                    Usually, simply bonding a filling onto the tooth will be enough to repair it. However, in more severe cases the dentist may need to fit a veneer.
                </p>
                <p class="heading-sub">
                    How much will treatment cost?
                </p>
                <p>
                    Costs will vary, depending on the type of treatment you need.It is important to talk about all the treatment options with our dental team and get an estimate of the cost before starting treatment 
                </p>
            </div>
        </div>
    </div>
</section>

