<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-auto col-12 heading-main px-5" id="head">
               Dentures
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-12 px-5">
                <p class="heading-sub">
                    What is a denture?
                </p>
                <p>
                    People wear dentures to replace lost or missing teeth so they can enjoy a healthy diet and smile with confidence. Dentures are made of either acrylic (plastic) or metal.
                    A ‘complete’ or ‘full’ denture is one which replaces all the natural teeth in either the upper or lower jaw. <br>

                    A ‘partial’ denture fills in the spaces left by lost or missing teeth. It may be fastened to your natural teeth with metal clasps or ‘precision attachments’.  <br>      
                </p>
                <p class="heading-sub">
                    Why should I wear dentures?
                </p>
                <p>
                    Full dentures, to replace all your own teeth, fit snugly over your gums. They will help you to eat comfortably and speak clearly, and will improve your confidence and self-esteem. <br>

                    Partial dentures replace teeth that are missing, and can sometimes be supported by the teeth you have left. If you have gaps between your teeth, then your other teeth may move to take up some of the space, so you could end up with crooked or tilted teeth. This could affect the way you bite and could damage your other teeth.
                </p>
                <p class="heading-sub">
                    How soon can I have a denture after my teeth are taken out?
                </p>
                <p>
                    Usually dentures can be fitted straight after your teeth have been removed. These are called ‘immediate dentures’. You will need to visit the dental team beforehand for them to take measurements and impressions of your mouth. <br>
                    With immediate dentures you don’t have to be without teeth while your gums are healing. However, bone and gums can shrink over time, especially during the first six months after your teeth have been taken out. If your gums shrink, your immediate dentures may need relining, adjusting or even replacing. Your dental team will be able to talk to you about this. <br>
                    
                    Sometimes your dental team may advise you to wait until your gums are healed before having your dentures, as this can sometimes mean a better fit. Healing may take several months. <br>
                </p>
                <p class="heading-sub">
                    Who will make and fit my denture?
                </p>
                <p>
                    Your dentist will take measurements and impressions of your mouth, then order your dentures from a dental technician.
                </p>
                <p class="heading-sub">
                    Will dentures make me look different?
                </p>
                <p>
                    Replacing lost or missing teeth is very good for your health and appearance. A complete or full denture replaces your natural teeth and gives support to your cheeks and lips. Without this support, sagging facial muscles can make a person look older and they will find it harder to eat and speak properly. <br>

                        Dentures can be made to closely match your natural teeth so that your appearance hardly changes. Modern dentures may even improve the look of your smile and help to fill out the appearance of your face.

                </p>
                <p class="heading-sub">
                    Will I be able to eat with dentures?
                </p>
                <p>
                    Eating will take a little practice. Start with soft foods cut into small pieces. Chew slowly, using both sides of your mouth at the same time to stop the denture moving. As you become more used to your denture, add other foods until you get back to your normal healthy diet.

                </p>
                <p class="heading-sub">
                    Will dentures change how I speak?
                </p>
                <p>
                    Pronouncing certain words may take practice. Reading out loud and repeating difficult words will help. <br>

                    If you find that your dentures occasionally slip when you laugh, cough or smile, reposition them by gently biting down and swallowing. If this happens a lot, see your dentist.

                </p>
                <p class="heading-sub">
                    How long should I wear my dentures?
                </p>
                <p>
                    During the first few days, your dental team may advise you to wear them for most of the time, including while you are asleep. After your mouth gets used to your dentures, your dental team may advise you to take them out before going to bed. This allows your gums to rest and helps keep your mouth healthy. When you remove your dentures at night, it is best to store them in a small amount of water to stop them warping.
                </p>
                <p class="heading-sub">
                    My upper denture fits fine, so why am I having problems with my lower one?
                </p>
                <p>
                    The upper denture usually has much more suction to hold it in place. There is much less gum support in the lower jaw, so the lower denture may feel more wobbly because it has to be balanced between your cheeks and your tongue. <br>

                    After a little while you will learn the shape of your new denture and how to keep it in place, even when you open your mouth wide.
                </p>
                <p class="heading-sub">
                    Should I use a denture fixative?
                </p>
                <p>
                    Dentures are custom made to fit your mouth and you shouldn’t need a denture fixative. However, some people prefer to use a fixative to give them extra confidence or if their dentures start to become loose before they have them replaced. A poorly fitting denture may cause irritation and sores. This can often happen if you have worn ‘immediate’ dentures for some time.
                </p>
                <p class="heading-sub">
                    Do I need to do anything special to care for my mouth?
                </p>
                <p>
                    Even with full dentures, you still need to take good care of your mouth. Every morning and evening, brush your gums, tongue and the roof of your mouth with a soft brush. This removes plaque and helps the blood circulation in your mouth. If you wear partial dentures, it is even more important that you brush your teeth thoroughly every day. This will help stop  tooth decay and gum disease that can lead to you losing more of your teeth. Your dentist may refer you to the hygienist to have your remaining natural teeth cleaned regularly.
                </p>
                <p class="heading-sub">
                    How do I take care of my dentures?
                </p>
                <p>
                    Dentures may break if you drop them. Always clean your dentures over a bowl of water or a folded towel in case you drop them. <br>

                    To clean your dentures, the general rule is: brush and soak every day. Brush your dentures first, to help remove any bits of food. Use a non-abrasive denture cleaner, not toothpaste. Be careful not to scrub too hard as this may cause grooves in the surface. <br> 

                    Make sure you brush all the surfaces of the dentures, including the surface that fits against your gums. This is especially important if you use any kind of denture fixative. <br>

                    Soak your dentures every day in a denture-cleaning solution. This will help remove any plaque and stubborn stains that are left. It will also help to disinfect your dentures, leaving them feeling fresher. Always follow the manufacturer’s instructions. <br>

                    Don’t keep your dentures in overnight unless there are specific reasons for you to keep them in. <br>

                    If you notice a build-up of stains or scale, have your denture cleaned by your dental team. <br>

                    <a href="">Click here for more information on denture cleaning.</a>
                </p>
                <p class="heading-sub">
                    How long will my dentures last?
                </p>
                <p>
                    If you treat your dentures well, they should last several years. However, your dentures will need to be relined or re-made because of normal wear, or a change in the shape of your mouth. Bone and gum ridges can shrink, causing your jaws to meet differently. Loose dentures can cause discomfort, and health problems including sores and infections. A loose or badly fitting denture can also make eating and talking more difficult. It is important to replace worn or badly fitting dentures before they cause problems.
                </p>
                <p class="heading-sub">
                    How often should I see my dentist?
                </p>
                <p>
                    Regular dental check-ups and having your teeth professionally cleaned are very important for keeping your teeth and gums healthy. Regular visits allow your dental team to check the soft parts of your mouth, including your tongue and cheeks. These examinations are important so that the dental team can spot any infections, mouth conditions or even mouth cancer at the earliest stages. <br>

                    If you have a full denture, check with your dental team about how often you should visit. With regular professional care, a positive attitude and persistence, you can become one of the millions of people who wear their dentures with a smile.
                </p>
                <p class="heading-sub">
                    Are dentures my only option?
                </p>
                <p>
                    No. Bridges and partial dentures and dental implants are other options to consider. Ask your dental team for more information. <br>
                    Help remove any bits of food. Use a non-abrasive denture cleaner, not toothpaste. Be careful not to scrub too hard as this may cause grooves in the surface. <br>

                    Make sure you brush all the surfaces of the dentures, including the surface that fits against your gums. This is especially important if you use any kind of denture fixative. <br>

                    Soak your dentures every day in a denture-cleaning solution. This will help remove any plaque and stubborn stains that are left. It will also help to disinfect your dentures, leaving them feeling fresher. Always follow the manufacturer’s instructions. <br>

                    If you notice a build-up of stains or scale, have your denture cleaned by your dental team. <br>
                </p>
                <p class="heading-sub">
                    Is there anything I should avoid?
                </p>
                <p>
                    It is important not to use any type of bleaching product to clean your dentures. Bleaching can lead to weakening of the dentures as well as making them look unsightly. Do not use very hot water to soak your dentures. Again, it can weaken the dentures causing them to break.
                </p>
                <p class="heading-sub">
                    What should I do if my denture has a soft lining?
                </p>
                <p>
                    Some people have sensitive gums and may need a softer lining made for their dentures. If you have one of these special linings, it is important to check with your dental team before using any cleaning products or fixatives, as some products can damage the lining.
                </p>
                <p class="heading-sub">
                    What if I have a metal denture?
                </p>
                <p>
                    Some cleaning products can damage metal dentures, so talk to your dental team about how to clean them. If your denture has clasps, you need to take particular care when cleaning to avoid damage.
                </p>
                <p class="heading-sub">
                    Should I remove my dentures at night?
                </p>
                <p>
                    Don’t keep your dentures in overnight unless there are specific reasons for you to keep them in.
                </p>
                <p class="heading-sub">
                    Can my dental team clean them?
                </p>
                <p>
                    Some people get a build-up of tartar on their dentures just as they would on their natural teeth. If plaque is not removed properly, it can react with your saliva and harden into tartar. As with your own teeth, you will not be able to remove this tartar completely by yourself, and eventually it can make the denture uncomfortable and unsightly. Your dental team will be able to remove this tartar using a professional cleaning machine.
                </p>
                <p class="heading-sub">
                    What can I do about staining?
                </p>
                <p>
                    Like natural teeth, dentures can pick up staining every day. This is especially true if you smoke, or drink a lot of tea, coffee or red wine. In most cases you should be able to remove this staining with regular cleaning. However, more stubborn stains may take a little more cleaning, which your dental team should be able to help with.
                </p>
                <p class="heading-sub">
                    Do I still need to see the dentist?
                </p>
                <p>
                    It is important to visit your dental team regularly even if you don’t have any of your natural teeth. Dentists do not check just your teeth, but also the soft parts of the mouth, including the tongue and cheeks. These examinations are just as important, so the dental team can spot any infections, mouth conditions or even mouth cancer at the earliest stages. Your dental team will be able to tell you how often you should visit. 
                </p>
            </div>
        </div>
    </div>
</section>
