<section class="content16 cid-sDqF7mxvQH" id="content16-e" style="background-color: #fff;">
    <div class="container-fluid py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-11">
                <div class="mbr-section-head align-center mb-4">
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2 text-choose-heading"><strong>Explore your oral cavity, with Dr. Smile</strong></h3>  
                </div>
                <div id="bootstrap-accordion_15" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_4" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Diet and Oral Health</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_4"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Tooth decay damages your teeth and leads to fillings or even extractions. Decay happens when sugar reacts with the bacteria in plaque. This forms the acids that attack the teeth and destroy the enamel. After this happens many times, the tooth enamel may break down, forming a hole or 'cavity' into the dentine. The tooth can then decay more quickly.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/diet" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_7" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Does Black Coffee affect your teeth?</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_7"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    As normal human beings, we tend to thrive with a set schedule. With the Covid-19 pandemic, all the schedules have been thrown to the wind. It's probably been difficult for you to get in to see a dentist, or you're worried about potential consequences.
                                                    <br>
                                                    We've all probably slacked off a little on our teeth health in the past year. With many people working from home it's been easy to over-indulge in sweets and coffee. Did you know that drinking coffee might be bad for your teeth? So it's important to know how seemingly innocent drinks are potentially affecting your teeth health. 
                                                    <br>
                                                    Keep reading to find out if coffee is bad for your teeth and what to do about it.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/coffee" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_5" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Smoking and Oral Health</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_5"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Most people are now aware that smoking is bad for their health. It can cause many different medical problems and, in some cases, fatal diseases. However, many people don't realise the damage that smoking does to their mouth, gums and teeth.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/smoking" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_3" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Bad Breath</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_3"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Lots of small signs can show that you have bad breath. Have you noticed people stepping away from you when you start to talk? Do people turn their cheek when you kiss them goodbye? If you think you might have bad breath, there is a simple test that you can do. Just lick the inside of your wrist and sniff - if the smell is bad, you can be fairly sure that your breath is too. Or, ask a very good friend to be absolutely honest with you; but do make sure they are a true friend.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/breath" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_6" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Brushing and Oral Health</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_6"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Brushing your teeth is an important part of your dental care routine. For a healthy mouth and smile the ADA recommends you:
                                                </p>
                                                <ul>
                                                    <li class="text-point">
                                                        Brush your teeth twice a day with a soft-bristled brush. The size and shape of your brush should fit your mouth allowing you to reach all areas easily.
                                                    </li>
                                                    <li class="text-point">
                                                        Replace your toothbrush every three or four months, or sooner if the bristles are frayed. A worn toothbrush won’t do a good job of cleaning your teeth.
                                                    </li>
                                                    <li class="text-point">
                                                        Make sure to use an ADA-accepted fluoride toothpaste.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/brush" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_0" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Is Fluoride Toothpaste mandatory?</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_0"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Fluoride is a mineral found naturally in water, soil, and air. Almost all water contains some fluoride, but fluoride levels can vary depending on where your water comes from.In addition, fluoride is added to many public water supplies in America. The amount added varies by area, and not all areas add fluoride
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/fluoride" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_1" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Dental Erosion</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_1"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Erosion is the loss of tooth enamel caused by acid attack. Enamel is the hard, protective coating of the tooth, which protects the sensitive dentine underneath. When the enamel is worn away, the dentine underneath is exposed, which may lead to pain and sensitivity.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/erision"fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_8" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Should your Wisdom Teeth be removed?</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_8"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Wisdom teeth are the third molars and typically don’t come in until you are 17-21 years old. Compared to the average age when the rest of our adult teeth come in (6-7 years old). However, with time comes the increased chance of complication, as many wisdom teeth struggle finding room to grow in the mouth. That’s why wisdom teeth removal is so common.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/wisdom" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_10" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Oral Healthcare of Children</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_10"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    It is recommended that children should go to the dentist with their parents as soon as possible. You should then take them regularly, as often as your dental team recommend. This will let them get used to the noises, smells and surroundings and prepare them for future visits. The earlier these visits start, the more relaxed the children will be
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/children" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_9" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Why SMILING Is Good for Your Health?!</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_9"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    A smile is more than just a sign of happiness. Did you know it can also improve your health and the moods of those around you? We’ll review the health benefits of smiling, how your oral health impacts your smile, and some ways to add more smiling to your life.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/smile" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse142_2" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7 choose-sub-heading">Oral Cancer</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse142_2"  class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">
                            <div class="panel-body">
                                <div class="container-fluid p-0">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <div class="text-wrapper">
                                                <p class="mbr-text mbr-fonts-style display-7 text-normal">
                                                    Most people have heard of cancer affecting parts of the body such as the lungs or breasts. However, cancer can appear in the mouth, where the disease can affect the lips, tongue, cheeks and throat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-danger display-4 button-style" routerLink="/cancer" fragment="top" >Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>