<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main" id="head">
                Oral Cancer
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main">
                Dental Advise by Dr. Smile | 5 May 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body">
                <p class="heading-sub">
                    What is mouth cancer?
                </p>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-11 col-md-10 col-lg-4 ">
                        <img src="../../assets/images/oral cancer.png" alt="" class="image image-responsive" style="max-height:300px;">
                    </div>
                </div>
                <p>
                    Most people have heard of cancer affecting parts of the body such as the lungs or breasts. However, cancer can appear in the mouth, where the disease can affect the lips, tongue, cheeks and throat.
                </p>
                <p class="heading-sub">
                    Who can be affected by mouth cancer?
                </p>
                <p>
                    Anyone can be affected by mouth cancer, whether they have their own teeth or not. Mouth cancers are more common in people over 40, particularly men. However, research has shown that mouth cancer is becoming more common in younger patients and in women. There are more than 640,000 cases of mouth cancer diagnosed each year worldwide and it is the eleventh most common cancer. In the United States there are around 43,000 cases each year.
                    <br>
                    In some countries there is an increased risk because of problems such as tobacco chewing - in India, for example - and the rates are even higher. There are, on average, almost 7,800 new cases of mouth cancer diagnosed in the UK each year. The number of new cases of mouth cancer is on the increase, and in the UK has increased by over half in the last decade alone.

                </p>
                <p class="heading-sub">
                    Do people die from mouth cancer?
                </p>
                <p>
                    Yes. More than 2,300 people in the UK die from mouth cancer every year. Many of these deaths could be prevented if the cancer was diagnosed early enough. As it is, people with mouth cancer are more likely to die than those having cervical cancer or melanoma skin cancer.
                </p>
                <p class="heading-sub">
                    What can cause mouth cancer?
                </p>
                <p>
                    Most cases of mouth cancer are linked to tobacco and alcohol. Cigarette, cigar and pipe smoking are the main forms of tobacco use in many parts of the world. However, the traditional habits in some cultures of chewing tobacco, betel quid, gutkha and paan are particularly dangerous.
                    <br>
                    Alcohol increases the risk of mouth cancer, and if tobacco and alcohol are taken together the risk is even greater. <br>
                    Over-exposure to sunlight can also increase the risk of cancer of the lips. <br>
                    Many recent reports have linked mouth cancer to the human papillomavirus (HPV). HPV is the main cause of cervical cancer and affects the skin that lines the moist areas of the body. <br>
                    HPV can be spread through oral sex, and research now suggests that HPV could soon rival smoking and drinking as one of the main causes of mouth cancer. <br>
                    Practising safe sex and limiting the number of partners you have may help reduce your chances of getting HPV. Many people get HPV during their lives and for many this does not cause a problem. <br>
                    There are now HPV vaccines for both girls and boys. They were developed to fight cervical cancer, but it is likely that they will also help to reduce the rates of mouth cancer. These vaccines are given at age 12 to 13 before sexual activity starts.<br>
                </p>
                <p class="heading-sub">
                    What are the signs of mouth cancer?
                </p>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-11 col-md-10 col-lg-4 ">
                        <img src="../../assets/images/da12.png" alt="" class="image image-responsive" style="max-height:300px;">
                    </div>
                </div>
                <p>
                    Mouth cancer can appear in different forms and can affect all parts of the mouth, tongue and lips. Mouth cancer can appear as a painless mouth ulcer that does not heal normally. A white or red patch in the mouth can also develop into a cancer. Be aware of any unusual lumps in your mouth or jaw area and any persistent hoarseness. It is important to visit your dental team or doctor if these areas do not heal within three weeks. If you aren't sure, go for a check-up anyway.
                </p>
                <p class="heading-sub">
                    How can mouth cancer be detected early?
                </p>
                <p>
                    Mouth cancer can often be spotted in its early stages by your dental team during a thorough mouth examination. If mouth cancer is diagnosed early, then the chances of a cure are good. Many people with mouth cancer go to their dentist or doctor too late.
                </p>
                <p class="heading-sub">
                    Is there anything I can do at home?
                </p>
                <p>
                    Be aware of what is going on in your mouth. Examine yourself regularly. Ulcers that do not heal within three weeks, any unusual red or white patches, lumps in your neck or jaw area, or persistent hoarseness are all reasons for asking your dental team or doctor to examine you. There is probably nothing seriously wrong but an early diagnosis could save your life.
                </p>
                <p class="heading-sub">
                    What is involved in a full check-up of the mouth?
                </p>
                <p>
                    The inside of your mouth and your tongue will be examined with the help of a small mirror. The examination will also look at your neck and underneath your jaw. Dentists will carry out this examination as part of a routine dental check-up. Remember, your dental team can see parts of your mouth that you cannot see easily yourself.
                </p>
                <p class="heading-sub">
                    What happens if my dentist finds a problem?
                </p>
                <p>
                    If they find something unusual they will refer you to a consultant at the hospital, who will carry out a thorough examination of your mouth and throat. A small sample of the cells may be gathered from the area (a biopsy), and these cells will be examined under the microscope to see what is wrong.
                </p>
                <p class="heading-sub">
                    What happens next?
                </p>
                <p>
                    If the cells are cancerous, more tests will be carried out. These may include overall health checks, blood tests, x-rays or scans. These tests will decide what course of treatment is needed.
                </p>
                <p class="heading-sub">
                    Can mouth cancer be cured?
                </p>
                <p>
                    If mouth cancer is spotted early, the chances of a complete cure are good, and the smaller the area or ulcer the better the chance of a cure. However, too many people come forward too late because they do not have regular mouth examinations.
                </p>
                <p class="heading-sub">
                    How can I make sure that my mouth stays healthy?
                </p>
                <p>
                    Stop smoking, and cut down on the amount of alcohol you drink. <br>
                    Eat a balanced, healthy diet with at least five portions of fruit and vegetables a day. This can also help protect against many other cancers. <br>
                </p>
                <p><strong><a href="https://form.jotform.com/212194400583046" style="color: #fab441;line-height: 1.75; font-weight: 700;">Visit Dr. Smile</a></strong> regularly, as often as they recommend. </p>
            </div>
            <div class="row d-flex justify-content-center mb-3">
                <div class="col-11 col-md-10 col-lg-4 ">
                    <img src="../../assets/images/download.png" alt="" class="image image-responsive" style="max-height:300px;">
                </div>
            </div>
        </div>
    </div>
</section>
