<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-auto col-12 heading-main px-5" id="head">
                Extraction
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-12 px-5">
                <p>
                    Dental extraction is the painless removal of teeth from the socket in the alveolar bone.
                </p>
                <p class="heading-sub">
                    When do you need extraction?
                </p>
                <p>
                    Your dentist will plan for an extraction only when there is absolutely no other possible way out to save the tooth in general cases while sometimes it might be necessary due to various other reasons like mal position of the tooth, cosmetic dental treatments, orthodontic treatment etc.
                </p>
                <p>
                    You might feel-
                </p>
                <ol>
                    <li class="text-point">Sever pain due to deep caries</li>
                    <li class="text-point">Extremely loose tooth</li>
                    <li class="text-point">Infection and swelling in the gums</li>
                    <li class="text-point">Mal positioning of teeth</li>
                </ol>
                <p>
                    <strong>Disclaimer : It is not always necessary to feel all of these symptoms. You might just experience a few of them or none at all ( it might be even painless ! ). So it is always advisable to visit an expert Dentist if you feel any kind of  discomfort since 'Prevention is better than cure'.</strong>
                </p>
                <p>
                    Learn more about the procedure : <a href="">Link to video</a> <br>
                    Steps Involved : 
                </p>
                <ul>
                    <li class="text-point">
                        X-ray (radiograph) may or may not be required
                    </li>
                    <li class="text-point">
                        Local anesthesia
                    </li>
                    <li class="text-point">
                        Removal of the tooth
                    </li>
                    <li class="text-point">
                        Post op instructions and care
                    </li>
                </ul>
                <p class="heading-sub">Some fast facts!</p>
                <ol>
                    <li class="text-point">
                        Recent studies show that the extraction rate has reduced by above 60 percent due to evolution of newer treatments available.
                    </li>
                    <li class="text-point">
                        People are scared of extraction but studies show that an effective local anesthesia block can make it a total painless and quick procedure.
                    </li>
                </ol>
                <p class="heading-sub-large">
                    Frequently Asked Questions(FAQ)
                </p>
                <ol>
                    <li class="text-point">
                        <p class="heading-sub">
                            Will removing one tooth cause damage to the others ?
                        </p>
                        <p>
                            No, the other healthy teeth will remain in place.
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            Do I need to replace back the tooth that is being removed?
                        </p>
                        <p>
                            Ideally yes ! That is absolutely necessary to prevent further complications.
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            How long will it pain after the local anesthesia effect is gone ?
                        </p>
                        <p>
                            You will be put on antibiotics and pain killers for faster healing and pain relief so you won't feel any pain after the procedure.
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            Can I get a tooth removed when not on antibiotics?
                        </p>
                        <p>
                            Not recommend , because antibiotics prevent infections and help in faster healing. 
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>