<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-auto col-12 heading-main px-5" id="head">
                Restoration/Filling
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-12 text-body px-5">
                <p>
                    “Restorative dentistry” is the term dental professionals use to explain how they replace missing or damaged teeth. Fillings, crowns (“caps”), bridges and implants are common restorative options. The goal is to bring back your natural smile and prevent future oral health issues.
                </p>
                <p class="heading-sub">
                    Why restorative dentistry procedures are important?
                </p>
                <ul>
                    <li class="text-point">
                        Filling empty spaces in the mouth helps keep teeth properly aligned
                    </li>
                    <li class="text-point">
                        Replacing teeth makes it easier to maintain good oral care habits to help prevent plaque build-up and the problems plaque can lead to
                    </li>
                    <li class="text-point">
                        Missing teeth can affect your health, appearance and self-esteem
                    </li>
                </ul>
                <p class="heading-sub">
                    Restorative Dentistry Treatment Options and Fillings
                </p>
                <p>
                    The most common way to treat a cavity is for your dentist to remove the decay and fill the tooth with one of several different materials. These filling materials include -
                </p>
                <ul>
                    <li class="text-point">
                        Gold
                    </li>
                    <li class="text-point">
                        Porcelain
                    </li>
                    <li class="text-point">
                        Silver Amalgam
                    </li>
                    <li class="text-point">
                        Tooth-Colored Plastic
                    </li>
                    <li class="text-point">
                        Composite Resin
                    </li>
                </ul>
                <p>
                    Once you select a material, you/your dentist need to select a type of filling procedure. The various types of  filling procedures are stated below : 
                </p>
                <ol class="ind-list">
                    <li>
                        <p class="heading-sub">Crowns</p>
                        <p>
                            A crown is a tooth-shaped cap that is placed over a tooth. It is used to strengthen and protect your tooth structure. Your dentist prepares the tooth, takes an impression and the crown is made in a lab by a specialist.A crown is ideal for people with broken teeth or cavities.The crown is cemented into place over the damaged tooth.

                        </p>
                    </li>
                    <li>
                        <p class="heading-sub">Bridges</p>
                        <p>
                            A dental bridge "bridges" the gap where there are missing teeth. A bridge has a crown on each end as an anchor with an artificial tooth or teeth connecting the crowns and filling the space. A bridge can keep your other teeth from moving out of place. Once a bridge is placed, it works just like your natural teeth.
                        </p>
                    </li>
                    <li>
                        <p class="heading-sub">Dental Implants</p>
                        <p>
                            Dental implants are used to replace missing teeth. An implant has 2 parts: a metal anchor and a false tooth, similar to a crown. A dental implant looks and feels like a natural tooth.The metal anchor is inserted into the jawbone. After the anchor has been inserted, a false tooth is put into place.
                        </p>
                    </li>
                </ol>
                <p class="heading-sub">
                    Tips for taking care of your restorative dentistry work
                </p>
                <ul>
                    <li class="text-point">
                        Brush your teeth thoroughly twice a day.
                    </li>
                    <li class="text-point">
                        Electric toothbrushes can help remove plaque from your teeth and restorative work.
                    </li>
                    <li class="text-point">
                        Make sure to floss around your teeth, dental implants, crowns, and bridges every day.
                    </li>
                    <li class="text-point">
                        Try not to chew on hard or sticky foods. These can damage your implant, bridge, or crown.
                    </li>
                    <li class="text-point">
                        Use an antibacterial mouthwash to help fight plaque bacteria around restorative work.
                    </li>
                </ul>
                <p class="heading-sub">
                    What should I expect after the procedure?
                </p>
                <p>
                    Following a dental restoration, your dentist might recommend that you change your eating and drinking habits for the next 24 hours:
                </p>
                <ol>
                    <li class="text-point">
                        Eat soft foods
                    </li>
                    <li class="text-point">
                        Eat foods that are cold.
                    </li>
                    <li class="text-point">
                        If you can handle the heat, try warm soup.
                    </li>
                    <li class="text-point">
                        After any procedure you must continue brushing and flossing your teeth every day. 
                    </li>
                </ol>
                <p>
                    Your dentist may ask you to only floss in one direction and pull the floss through so that you don’t dislodge a temporary restoration.
                </p>
                <p class="heading-sub-large">
                    RISKS / BENEFITS
                </p>
                <p class="heading-sub ml-2">
                    What are the benefits of dental restorations?
                </p>
                <p class="ml-2">
                    Dental restorations not only help you chew your food better, they also help you speak clearer and give you a better smile. They help you keep your teeth.
                </p>
                <p class="heading-sub ml-2">
                    What are the risks or complications of dental restorations?
                </p>
                <p class="ml-2">
                    The most common risk is sensitivity or general discomfort after a dental restoration procedure. Very rarely you may get an infection or have an allergic reaction to the metals used.
                    <br>
                    Dental restorations have very few risks but crowns, for example, may become chipped or loosened, or may fall off (permanent crowns won’t). If you have deep cavities or delay getting cavities filled, that can lead to root canals or tooth extraction. Contact your dentist right away if you have a problem with 
                </p>
                <p class="heading-sub-large">
                    WHEN TO CALL THE DOCTOR
                </p>
                <p class="heading-sub ml-2">
                    When should I contact my dentist?
                </p>
                <p class=" ml-2">
                    If there is a problem with your dental restoration – such as a crack in your filling or dentures that don’t fit properly, see your dentist right away. 
                </p>
            </div>
        </div>
    </div>
</section>

