<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-auto col-12 heading-main px-5" id="head">
                Orthodontic treatment
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-12 px-5">
                <p>
                    Orthodontic treatment is a way of straightening or moving teeth, to improve the appearance of the teeth and how they work.
                </p>
                <p class="heading-sub">
                    When do you need orthodontic treatment?
                </p>
                <p>
                    Your dentist might recommend it if you have crowded or crooked teeth. Orthodontic treatment will straighten the teeth or move them into a better position. This can improve their appearance and the way the teeth bite together, while also making them easier to clean. Some people have upper front teeth that stick out and look unsightly. These 'prominent' teeth are more likely to be damaged, but orthodontic treatment can move them back into line. When the teeth don't meet correctly, this can strain the jaw muscles, causing jaw and joint problems and sometimes headaches. Orthodontic treatment can help you.
                </p>
                <p class="heading-sub"> Steps to perform the procedure</p>
                <ul>
                    <li class="text-point">
                        X-ray (OPG) of full mouth
                    </li>
                    <li class="text-point">
                        Treatment planning and photographs
                    </li>
                    <li class="text-point">
                        Placement of separators
                    </li>
                    <li class="text-point">
                        Placement of braces
                    </li>
                    <li class="text-point">
                        Subsequent visits varies from case to case
                    </li>
                </ul>
                <p class="heading-sub-large">
                    Frequently Asked Questions(FAQ)
                </p>
                <ol>
                    <li class="text-point">
                        <p class="heading-sub">
                            What is the ideal age for braces ?
                        </p>
                        <p>
                            The best time to start is before 20 years of age, however, orthodontic treatment can also be carried out in adults.
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            How long will the treatment take?
                        </p>
                        <p>
                            Depends on your case but it is a minimum of 1 to 2 years.
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            How frequent are the visits ? 
                        </p>
                        <p>
                            Usually 4 to 6 weeks apart ( may vary from case to case)
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            Will it hurt ?
                        </p>
                        <p>
                            Any appliance in the mouth might feel a bit strange in the beginning but you'll get used to it.
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            Is it very expensive ?
                        </p>
                        <p>
                            Again depends on your case. Less complicated cases cost less.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>