<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main px-5" id="head">
                Children's teeth
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main px-5">
                Dental Advise by Dr. Smile | 8 May 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body px-5">
                <p class="heading-sub">
                    When should I take my child to the dentist?
                </p>
                <p>
                    It is recommended that children should go to the dentist with their parents as soon as possible. You should then take them regularly, as often as your dental team recommend. This will let them get used to the noises, smells and surroundings and prepare them for future visits. The earlier these visits start, the more relaxed the children will be
                </p>
                <p class="heading-sub">
                    When will my child's teeth appear?
                </p>
                <p>
                    First (or 'baby' or ‘milk') teeth usually start to appear when your child is around 6 months old. All 20 baby teeth should appear by the age of 30 months. For more information, visit 'Dental care for mother and baby'. 
                    <br>
                    The first permanent 'adult' molars (back teeth) will appear at about 6 years, before the first baby teeth start to fall out at about 6 to 7. The permanent 'adult' teeth will then replace the 'baby' teeth. It is usually the lower front teeth that are lost first, followed by the upper front teeth shortly after. All permanent teeth should be in place by the age of 14, except the ‘wisdom' teeth. These may appear any time between 18 and 25 years of age. All children are different and develop at different rates
                </p>
                <p class="heading-sub">
                    When will my child's teeth appear?
                </p>
                <p>
                    First (or 'baby' or ‘milk') teeth usually start to appear when your child is around 6 months old. All 20 baby teeth should appear by the age of 30 months. For more information, visit 'Dental care for mother and baby'. 
                    <br>
                    The first permanent 'adult' molars (back teeth) will appear at about 6 years, before the first baby teeth start to fall out at about 6 to 7. The permanent 'adult' teeth will then replace the 'baby' teeth. It is usually the lower front teeth that are lost first, followed by the upper front teeth shortly after. All permanent teeth should be in place by the age of 14, except the ‘wisdom' teeth. These may appear any time between 18 and 25 years of age. 
                    <br>
                    All children are different and develop at different rates
                </p>
                <p class="heading-sub">
                    How should I clean my child's teeth?
                </p>
                <p>
                    <strong>1. </strong> Your child's teeth should be part of their daily hygiene routine. You may find it easier to stand or sit behind your child, cradling their chin in your hand so you can reach their top and bottom teeth more easily.
                    <br>
                    <strong>2. </strong>  When the first teeth start to appear, try using a toothbrush designed for children, with a small smear of fluoride toothpaste.
                    <br>
                    <strong>3. </strong> It is important to supervise your child's brushing until they are at least seven.
                    <br>
                    <strong>4. </strong> Once all the teeth have appeared, use a toothbrush with a small head and soft bristles in small, circular movements and try to concentrate on one section at a time.
                    <br>
                    <strong>5. </strong> Don't forget to brush gently behind the teeth and onto the gums.
                    <br>
                    <strong>6. </strong> Spit out after brushing and do not rinse, so that the fluoride stays on your teeth longer.
                    <br>
                    <strong>7. </strong> If possible, make brushing a routine - just before your child goes to bed and at least one other time during the day.
                    <br>
                    <strong>8. </strong> Remember to encourage your child, as praise will often get results!
                </p>
                <p class="heading-sub">
                    Should I use fluoride toothpaste?
                </p>
                <p>
                    Your teeth can get fluoride in a number of different ways, including from toothpaste,
                    specific fluoride applications and perhaps the drinking water in your area. These can all help to
                    prevent tooth decay.
                    <br>
                    If you are unsure about how much fluoride you need in your toothpaste ask your dental team.
                    All children up to three years old should use a smear of toothpaste with a fluoride level of at
                    least 1000ppm (parts per million). After three years old, they should use a pea-sized amount of
                    toothpaste that contains 1350ppm to 1500ppm.
                    <br>
                    You can check the level of fluoride on the packaging of the toothpaste. Children should be
                    supervised when brushing up to the age of 7. You should make sure that they do not rinse but
                    spit out the toothpaste, and that they don't swallow any if possible. This way the fluoride stays in
                    the mouth for longer and will be more effective.
                </p>
                <p class="heading-sub">
                    What sort of brush should children use?
                </p>
                <p>
                    There are many different types of children's toothbrushes, including brightly coloured brushes,
                    some that change colour, some with favourite characters on the handle, and some with a
                    timer. These all encourage children to brush their teeth. The most important thing is to use a
                    small-headed toothbrush with soft, nylon bristles, suitable for the age of your child. <br>

                    Using a power toothbrush, suitable for the age of your child, can help to make brushing fun and
                    make sure your child brushes for the correct amount of time.

                </p>
                <p class="heading-sub">
                    What could cause my child to have toothache?
                </p>
                <p>
                    Toothache is painful and upsetting, especially in children, and the main cause is tooth decay. This
                    is due to too much sugar, too often, in the diet.
                    <br>
                    Teething is another problem. It starts at around 6 months, and it can continue when the
                    adult teeth start to appear. If your child needs pain relief, make sure you choose a sugar-free
                    medicine. If the pain continues then contact your dental team for an appointment. Remember to
                    check with your doctor or pharmacist that you are being prescribed sugar-free medicines at all
                    times.
                </p>
                <p class="heading-sub">
                    How can I prevent tooth decay in my child?
                </p>
                <p>
                    The main cause of tooth decay is not the amount of sugar or acid in the diet, but how often it is
                    eaten or drunk. The more often your child has sugary or acidic foods or drinks, the more likely
                    they are to have decay. So it is important to have sugary and acidic foods just at mealtimes. If
                    you want to give your child a snack, try to stick to cheese, vegetables and fruit. Try to limit how
                    much dried fruit you give as it is high in sugar. <br>
                    Don't give them drinks containing sugars, including fruit juices, between meals. Give them water
                    or milk instead. For babies, don't add sugar to their drinks, or to foods when you introduce them
                    to solids. <br>
                    It is also worth remembering that some processed baby foods contain quite a lot of sugar. Try
                    checking the list of ingredients: the higher up the list sugar is, the more there is in the product.
                    Generally anything ending in ‘ose' is a sugar, for example: fructose, glucose, lactose or sucrose.
                    Thorough brushing with a fluoride toothpaste last thing at night, and at least one other time
                    during the day, will help to prevent tooth decay.
                </p>
                <p class="heading-sub">
                    What if my child is very nervous about going to the dentist?
                </p>
                <p>
                    Children can sense fear in their parents, so it is important not to let your child feel that a visit to
                    the dental team is something to be worried about. Try to be supportive if your child needs to
                    have any dental treatment. If you have any fears of your own about going to the dentist, don't let
                    your child hear you talk about them.
                    <br>
                    Regular visits to the dental team are essential in helping your child get used to the surroundings
                    and what happens there. A child can be much more anxious if it is their first visit to a dental
                    practice. Pain and distress can happen at any time and it is important to prepare your child with
                    regular visits.
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>
