<!-- Navbar Start-->
<div id="top-nav"></div>
<section class="menu menu2 cid-sCaOWR0CfJ" once="menu" id="menu2-0">
    <div class="row d-flex justify-content-center bg-orange top-bar p-0 m-0">
        <div class="col-auto d-flex align-items-center p-0">
            <span class="mobile-hide text-light">Click to view our latest</span>&nbsp;<span><span (click)="openMember()" class="underline">Membership</span>&nbsp;<span class="text-light">and</span>&nbsp;<span (click)="openOffer()" class="underline">Offers</span></span>
        </div>
    </div>
    <div class="row d-flex justify-content-end bg-light top-middle-bar p-0 m-0">
        <div class="col-auto d-flex align-items-center p-0">
            <a class="btn btn-small display-4 mr-0 small-button" href="https://form.jotform.com/212194400583046">Request Appointment</a>
        </div>
        <div class="col-auto text-phone d-flex align-items-center">
            <span><i class="fas fa-phone-alt mr-2"></i><a href="tel:+919674303234" class="deep-orange" style="visibility: visible !important;">+91 9674303234</a></span>
        </div>
    </div>
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid p-0">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                        <img src="assets/images/new-logo-removebg-preview-1-1-121x68.png" alt="Mobirise" style="height: 4.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><!--a class="navbar-caption text-ultramarine display-2 font-custom" routerLink="/">Dr. Smile</a--></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown d-flex align-items-center" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-grey caps display-4" routerLink="/" fragment="about-us-top">About us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-grey caps display-4" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/filling" fragment="top">Restoration/ Filling</a>
                            <a class="dropdown-item" routerLink="/rct" fragment="top">Root Canal Treatment(RCT)</a>
                            <a class="dropdown-item" routerLink="/scaling" fragment="top">Scaling/Cleaning</a>
                            <a class="dropdown-item" routerLink="/extraction" fragment="top">Extraction</a>
                            <a class="dropdown-item" routerLink="/dentures" fragment="top">Dentures</a>
                            <a class="dropdown-item" routerLink="/crown" fragment="top">Crown and Bridge</a>
                            <a class="dropdown-item" routerLink="/implant" fragment="top">Implant Dentistry</a>
                            <a class="dropdown-item" routerLink="/ortho" fragment="top">Orthodontic Treatment</a>
                            <a class="dropdown-item" routerLink="/cosmo" fragment="top">Cosmetic Dentistry</a>
                            <a class="dropdown-item" routerLink="/peado" fragment="top">Pediatric Dentistry</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-grey caps display-4" routerLink="/" fragment="form2-g">Contact Us</a></li>
                    <li class="nav-item">
                        <span class="nav-link link text-grey caps display-4" data-toggle="modal" data-target="#feedbackformmodal" href="javascript:void(0)">Feedback</span>
                    </li>
                    <li class="nav-item" *ngIf="user === null">
                        <a class="nav-link link text-grey caps display-4" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="user !== null">
                        <a class="nav-link link text-grey caps display-4" href="javascript:void(0)">Welcome Admin</a>
                    </li>
                    <li class="nav-item" *ngIf="user !== null">
                        <a class="nav-link link text-grey caps display-4" href="javascript:void(0)" (click)="logout()">Logout</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="btn btn-small display-4 mr-0" href="https://form.jotform.com/212194400583046">Request Appointment</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</section>
<!-- Navbar End-->
<router-outlet></router-outlet>
<!-- Footer Start-->
<section class="footer6 cid-sDpCKlrKiV" once="footers" id="footer6-6">
    <div class="container">
        <div class="row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Addresses</strong>
                </h5>
                <a href="https://goo.gl/maps/AKUdDeyeB3Gkqb1WA" rel="noopener" target="_blank">
                    <p class="mbr-text mbr-fonts-style display-7 hv-und">
                        AA 10/6, Shastri Bagan <br> 
                        Desh Bandhu Nagar, Baguiati <br>
                        Kolkata, West Bengal 700059
                    </p>
                </a> <br>
                <a href="https://g.page/drsmileclinic?share" rel="noopener" target="_blank">
                    <p class="mbr-text mbr-fonts-style display-7 hv-und">
                        Dash Drone, Newtown, <br> 
                        Kolkata, West Bengal 700136
                    </p>
                </a> <br>
                
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 mt-4 display-7">
                    <strong>Contacts</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 small">
                    doctor@doctorsmilekolkata.com <br>
                    drsahaabir@gmail.com <br>
                    Phone: +91 9674303234<br>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Quick Links</strong>
                </h5>
                <ul class="list mbr-fonts-style mb-4 lead">
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" href="https://form.jotform.com/212194400583046">Request an appointment</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" routerLink = "/" fragment="free-makeover">Free Smile Giveaway</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" routerLink = "/team">Meet our team</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" routerLink = "/" fragment="service-top">Services</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" routerLink = "/smiles" fragment="top">Smile Transformation Gallery</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" routerLink = "/" fragment="features">Patient Stories and Testimonials</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" routerLink = "/" fragment="insurance">Insurance and financing</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <span class="text-white small" (click)="openOffer()">Offers</span>
                    </li>
                    <li class="mbr-text item-wrap">
                        <span class="text-white small" (click)="openMember()" >Memberships</span>
                    </li>
                    <li class="mbr-text item-wrap">
                        <a class="text-white small" routerLink = "/" fragment="oral">Blog - Dental Advise by Dr. Smile</a>
                    </li>
                    <li class="mbr-text item-wrap">
                        <span class="text-info small">Developed by : <a href="https://suparno1998.github.io">Suparno Karmakar</a></span>
                    </li>
                    <li class="mbr-text item-wrap">
                        <span class="text-info small"><a href="../assets/sitemap.xml">Sitemap</a></span>
                    </li>
                    <li class="mbr-text item-wrap">
                        <span class="text-info small"><a href="../assets/robots.txt">Robots</a></span>
                    </li>
                </ul>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 mt-5 display-7">
                    <strong>Feedback</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 small">
                    Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated. <a href="https://forms.gle/f4ZkMLWxktvP5Kaz7" rel="noopener" target="_blank">Give your feed back here.</a>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" title="locations" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNveGQ9bfpKFwWzQLLftrR9hNiHwdqQG8&amp;q=Dr Smile, dash drone" allowfullscreen=""></iframe></div>
            </div>
            <div class="col-md-6">
                <div class="social-list align-left">
                    <div class="soc-item">
                        <a href="https://instagram.com" rel="noopener" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="font-size: 30px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com" rel="noopener" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="font-size: 30px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.youtube.com" rel="noopener" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); font-size: 30px;"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://linkedin.com" rel="noopener" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); font-size: 30px;"></span>
                        </a>
                    </div>     
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="col-sm-12 copyright pl-0">
                <p class="mbr-text mbr-fonts-style mbr-white display-7">
                    © Copyright 2021 Dr. Smile - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Footer End-->
<!--Cookie Data and Scroll to top end-->
<input name="cookieData" type="hidden" data-cookie-customDialogSelector='null' data-cookie-colorText='#000000' data-cookie-colorBg='rgba(182, 242, 251, 0.62)' data-cookie-textButton='Agree' data-cookie-colorButton='' data-cookie-colorLink='#000000' data-cookie-underlineLink='true' data-cookie-text="We use cookies to give you the best experience. Read our <a routerLink='/privacy' fragment='top'>cookie policy</a>.">
<div id="scrollToTop" class="scrollToTop mbr-arrow-up">
    <span style="text-align: center;" href="javascript:void(0);">
        <i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i>
    </span>
</div>
<input name="animation" type="hidden">
<!--Cookie Data and Scroll to top end-->
<!--Membership modal start-->
<div class="modal fade" id="appmembershipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Membership Plan</h5>
          <button type="button" class="close" (click)="closeMember()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row p-0">
                <img src="../../assets/images/membership.JPG" alt="" class="image image-responsive" style="visibility: visible;">
            </div>
            <div class="row d-flex justify-content-center">
                <a class="btn btn-danger display-4 button-style" (click)="openMemberForm()">Register Now</a>
            </div>
        </div>
      </div>
    </div>
</div>
<!--Membership modal end-->

<!--Offer modal start-->
<div class="modal fade" id="appofferModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Amazing Offers</h5>
          <button type="button" class="close" (click)="closeOffer()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <div class="row p-0 d-flex justify-content-around">
                    <div class="col-12 col-md-3 col-lg-4 my-1 image-holder">
                        <img src="../../assets/images/offer-1.JPG" alt="" class="image image-responsive" style="visibility: visible;">
                    </div>
                    <div class="col-12 col-md-3 col-lg-4 my-1 image-holder">
                        <img src="../../assets/images/offer-2.JPG" alt="" class="image image-responsive" style="visibility: visible;">
                    </div>
                    <div class="col-12 col-md-3 col-lg-4 my-1 image-holder">
                        <img src="../../assets/images/offer-3.JPG" alt="" class="image image-responsive" style="visibility: visible;">
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <a class="btn btn-danger display-4 button-style" (click)="openOfferForm()">Avail Now</a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!--Offer modal end-->