<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-12 heading-main px-5" id="head">
                Scaling/Cleaning
            </div>
        </div>
        <div class="row d-flex justify-content-start mb-5">
            <div class="col-auto col-10 text-main px-5">
                <strong>by Dr. Smile</strong>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-12 px-5">
                <p>
                    Scaling and root planing (deep cleaning) is a procedure involving the removal of dental plaque and calculus and then smoothing of the (exposed) surfaces of the enamel and roots.
                </p>
                <p class="heading-sub">
                    When do you need a scaling?
                </p>
                <p>
                    Your dentist will recommend teeth scaling if your mouth has signs of swollen gums. A thorough cleaning can stop harmful effects of this condition and keep your mouth healthy. This occurs when the bacteria in plaque cause your gums to pull away from your teeth. This causes large pockets to grow between your teeth and gums and more bacteria can grow there that you cannot reach with teeth brushing at home.
                </p>
                <p>If left untreated, the condition can lead to:</p>
                <ul class="ml-2">
                    <li class="text-point">
                        bone loss
                    </li>
                    <li class="text-point">
                        loose teeth
                    </li>
                    <li class="text-point">
                        moving teeth
                    </li>
                </ul>
                <p>
                    <strong>Disclaimer : It is not always necessary to feel all of these symptoms. You might just experience a few of them or none at all ( it might be even painless ! ). So it is always advisable to visit an expert Dentist if you feel any kind of  discomfort since 'Prevention is better than cure'.</strong>
                </p>
                <p>
                    Learn more about the procedure : <a href="">Link to video</a> <br>
                    Steps
                </p>
                <ul>
                    <li class="text-point">
                        Anti bacterial mouth rinse
                    </li>
                    <li class="text-point">
                        Scaling and root planing done with an ultrasonic scaler
                    </li>
                    <li class="text-point">
                        Final polishing
                    </li>
                </ul>
                <p class="heading-sub">Some fast facts!</p>
                <ol>
                    <li class="text-point">Chronic periodontal disease affects nearly half of the adult population over the age of 30. Some of the reasons you may develop this condition include:
                        <ul>
                            <li class="text-point-small">poor dental hygiene</li>
                            <li class="text-point-small">smokinge</li>
                            <li class="text-point-small">aging</li>
                            <li class="text-point-small">changes in hormones</li>
                            <li class="text-point-small">poor nutirition</li>
                            <li class="text-point-small">family history</li>
                            <li class="text-point-small">other medical conditions</li>
                        </ul>
                    </li>
                    <li class="text-point">
                        At times a process called 'host modulation' is done in which additional medication is administered directly into the gums to reverse long standing periodontitis or reduce the existing infection.
                    </li>
                    <li class="text-point">
                        Teeth scaling and root planing are considered to be the 'gold standard' treatment for chronic periodontal disease. A 2015 review of 72 journal articles on these procedures found that they improved the pocket gap between teeth and gums by 0.5 mm on average.
                    </li>
                </ol>
                <p class="heading-sub-large">
                    Frequently Asked Questions(FAQ)
                </p>
                <ol>
                    <li class="text-point">
                        <p class="heading-sub">
                            Does scaling cause loss of enamel ?
                        </p>
                        <p>
                            No, it just removes the plaque, calculus and stains on the teeth. 
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            Will my teeth become loose after scaling?
                        </p>
                        <p>
                            No, that is a myth !
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            How often should scaling be done?
                        </p>
                        <p>
                            Depends on the overall hygiene of the oral cavity. For minimal deposits present, it is recomemded once in every 6 months.
                        </p>
                    </li>
                    <li class="text-point">
                        <p class="heading-sub">
                            How many sittings are required for scaling?
                        </p>
                        <p>
                            Depends on the deposit load. For minimal deposits, usually 1 sitting is enough , however multiple sittings might be required for heavy deposits and stains. 
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>