@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Otomanopee+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-size: 74px;
  line-height: 96px;
  color : #fff !important;
  font-weight: 800;
}
.text-sub{
  font-family: Lora, Georgia, "Times New Roman", serif !important;
  font-size: 32px;
  line-height: 34px;
  color : #fff !important;
  font-weight: 700;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #b4ceff !important;
}
.bg-success {
  background-color: #ff9966 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #0a2540 !important;
}
.bg-danger {
  background-color: #0e0097 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b4ceff !important;
  border-color: #b4ceff !important;
  color: #003eb4 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #5d95ff !important;
  border-color: #5d95ff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #003eb4 !important;
  background-color: #5d95ff !important;
  border-color: #5d95ff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #b4ceff !important;
  border-color: #b4ceff !important;
  color: #003eb4 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #5d95ff !important;
  border-color: #5d95ff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #003eb4 !important;
  background-color: #5d95ff !important;
  border-color: #5d95ff !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #0a2540 !important;
  border-color: #0a2540 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  text-transform: uppercase;
  background-color: #f66840 !important;
  border-color: #f66840 !important;
  color: #ffffff !important;
  box-shadow: 10px 10px 0 0 rgba(255, 88, 22, 0.5);
  font-size: 1.175rem;
  font-weight: 400;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #f66840 !important;
  border-color: #f66840 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f66840 !important;
  border-color: #f66840 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #b4ceff;
  color: #b4ceff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #5d95ff !important;
  background-color: transparent!important;
  border-color: #5d95ff !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #003eb4 !important;
  background-color: #b4ceff !important;
  border-color: #b4ceff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #b4ceff;
  color: #b4ceff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #5d95ff !important;
  background-color: transparent!important;
  border-color: #5d95ff !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #003eb4 !important;
  background-color: #b4ceff !important;
  border-color: #b4ceff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #0a2540;
  color: #0a2540;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0a2540 !important;
  border-color: #0a2540 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #0e0097;
  color: #0e0097;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #060040 !important;
  background-color: transparent!important;
  border-color: #060040 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0e0097 !important;
  border-color: #0e0097 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #b4ceff !important;
}
.text-secondary {
  color: #b4ceff !important;
}
.text-success {
  color: #ff9966 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #0a2540 !important;
}
.text-danger {
  color: #0e0097 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #4e8bff !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #4e8bff !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #ff5500 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #050031 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #b4ceff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #0a2540;
}
.alert-danger {
  background-color: #0e0097;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b4ceff;
  border-color: #b4ceff;
  color: #0047ce;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b4ceff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #4c98e3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #2d18ff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #b4ceff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #b4ceff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b4ceff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #b4ceff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b4ceff;
  border-bottom-color: #b4ceff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #b4ceff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #b4ceff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b4ceff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sCaOWR0CfJ {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sCaOWR0CfJ nav.navbar {
  position: fixed;
}
.cid-sCaOWR0CfJ .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sCaOWR0CfJ .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sCaOWR0CfJ .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sCaOWR0CfJ .dropdown-item:hover,
.cid-sCaOWR0CfJ .dropdown-item:focus {
  background: #fab57d !important;
  color: rgba(0,0,0,0.82) !important;
}
.cid-sCaOWR0CfJ .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sCaOWR0CfJ .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sCaOWR0CfJ .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sCaOWR0CfJ .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sCaOWR0CfJ .nav-link {
  position: relative;
}
.cid-sCaOWR0CfJ .container {
  display: flex;
  margin: auto;
}
.cid-sCaOWR0CfJ .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sCaOWR0CfJ .dropdown-menu,
.cid-sCaOWR0CfJ .navbar.opened {
  background: #fff !important;
}
.cid-sCaOWR0CfJ .nav-item:focus,
.cid-sCaOWR0CfJ .nav-link:focus {
  outline: none;
}
.cid-sCaOWR0CfJ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sCaOWR0CfJ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sCaOWR0CfJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sCaOWR0CfJ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sCaOWR0CfJ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sCaOWR0CfJ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sCaOWR0CfJ .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
.cid-sCaOWR0CfJ .navbar.opened {
  transition: all 0.3s;
}
.cid-sCaOWR0CfJ .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sCaOWR0CfJ .navbar .navbar-logo img {
  width: auto;
}
.cid-sCaOWR0CfJ .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sCaOWR0CfJ .navbar.collapsed {
  justify-content: center;
}
.cid-sCaOWR0CfJ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sCaOWR0CfJ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.text-grey{
  color : rgba(0,0,0,0.7);
}
.text-grey:hover{
  color : rgba(0,0,0,0.3);;
}
.caps{
  text-transform: uppercase;
  font-size: 1.175rem;
}
@media (min-width: 992px) {
  .cid-sCaOWR0CfJ .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.8rem);
  }
}
.cid-sCaOWR0CfJ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sCaOWR0CfJ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sCaOWR0CfJ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sCaOWR0CfJ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sCaOWR0CfJ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sCaOWR0CfJ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sCaOWR0CfJ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sCaOWR0CfJ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sCaOWR0CfJ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sCaOWR0CfJ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sCaOWR0CfJ .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sCaOWR0CfJ .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sCaOWR0CfJ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sCaOWR0CfJ .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sCaOWR0CfJ .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sCaOWR0CfJ .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sCaOWR0CfJ .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sCaOWR0CfJ .navbar.navbar-short {
  min-height: 60px;
}
.cid-sCaOWR0CfJ .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sCaOWR0CfJ .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sCaOWR0CfJ .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sCaOWR0CfJ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sCaOWR0CfJ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sCaOWR0CfJ .dropdown-item.active,
.cid-sCaOWR0CfJ .dropdown-item:active {
  background-color: transparent;
}
.cid-sCaOWR0CfJ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sCaOWR0CfJ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sCaOWR0CfJ .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sCaOWR0CfJ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff;
}
.cid-sCaOWR0CfJ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sCaOWR0CfJ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sCaOWR0CfJ ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sCaOWR0CfJ .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sCaOWR0CfJ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sCaOWR0CfJ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #f66840;
}
.cid-sCaOWR0CfJ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sCaOWR0CfJ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sCaOWR0CfJ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sCaOWR0CfJ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sCaOWR0CfJ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sCaOWR0CfJ nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sCaOWR0CfJ nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sCaOWR0CfJ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sCaOWR0CfJ .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sCaOWR0CfJ a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sCaOWR0CfJ .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sCaOWR0CfJ .navbar {
    height: 70px;
  }
  .cid-sCaOWR0CfJ .navbar.opened {
    height: auto;
  }
  .cid-sCaOWR0CfJ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sCaOXoQw4E .mbr-section-title {
  color: #00509d;
  font-weight: bolder;
}
.cid-sCaOXoQw4E .mbr-section-subtitle {
  color: #00509d;
  font-weight: bolder;
}
.cid-sDqHlAVQ14 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sDqHlAVQ14 .item {
  padding-bottom: 2rem;
}
.cid-sDqHlAVQ14 .item-wrapper {
  position: relative;
}
.cid-sDqHlAVQ14 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sDqHlAVQ14 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sDqHlAVQ14 .carousel-control,
.cid-sDqHlAVQ14 .close {
  background: #1b1b1b;
}
.cid-sDqHlAVQ14 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sDqHlAVQ14 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sDqHlAVQ14 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sDqHlAVQ14 .carousel-control-next span {
  margin-left: 5px;
}
.cid-sDqHlAVQ14 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sDqHlAVQ14 .close::before {
  content: '\e91a';
}
.cid-sDqHlAVQ14 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sDqHlAVQ14 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sDqHlAVQ14 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sDqHlAVQ14 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sDqHlAVQ14 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sDqHlAVQ14 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sDqHlAVQ14 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sDqHlAVQ14 .carousel-indicators li.active,
.cid-sDqHlAVQ14 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sDqHlAVQ14 .carousel-indicators li::after,
.cid-sDqHlAVQ14 .carousel-indicators li::before {
  content: none;
}
.cid-sDqHlAVQ14 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sDqHlAVQ14 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sDqHlAVQ14 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sDqHlAVQ14 .carousel-indicators {
    display: none;
  }
}
.cid-sDqHlAVQ14 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sDqHlAVQ14 .carousel-inner > .active {
  display: block;
}
.cid-sDqHlAVQ14 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sDqHlAVQ14 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sDqHlAVQ14 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sDqHlAVQ14 .carousel-control,
  .cid-sDqHlAVQ14 .carousel-indicators,
  .cid-sDqHlAVQ14 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sDqHlAVQ14 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sDqHlAVQ14 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sDqHlAVQ14 .carousel-indicators .active,
.cid-sDqHlAVQ14 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sDqHlAVQ14 .carousel-indicators .active {
  background: #fff;
}
.cid-sDqHlAVQ14 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sDqHlAVQ14 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sDqHlAVQ14 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sDqHlAVQ14 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sDqHlAVQ14 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sDqHlAVQ14 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sDqHlAVQ14 .carousel {
  width: 100%;
}
.cid-sDqHlAVQ14 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sDqHlAVQ14 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sDqHlAVQ14 .modal.fade .modal-dialog,
.cid-sDqHlAVQ14 .modal.in .modal-dialog {
  transform: none;
}
.cid-sDqHlAVQ14 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sDqHlAVQ14 H6 {
  text-align: center;
  color: #0a2540;
}
.cid-sDqHlAVQ14 H3 {
  color: #0a2540;
}
.cid-sDqHlAVQ14 H4 {
  color: #0a2540;
}
.cid-sDoKqPFAJI {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-sDoKqPFAJI .container {
    max-width: 1400px;
  }
}
.cid-sDoKqPFAJI .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #424a4d;
  margin-bottom: 2rem;
}
.cid-sDoKqPFAJI .card-wrapper {
  margin-top: 3rem;
}
.cid-sDoKqPFAJI .row {
  justify-content: center;
}
.cid-sDqF7mxvQH {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #0a2540;
}
.cid-sDqF7mxvQH .display-7{
  color: rgba(0,0,0,0.82);
}
.cid-sDqF7mxvQH .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: rgba(0,0,0,0.7);
  margin-left: 1rem;
}
.cid-sDqF7mxvQH .panel-group {
  border: none;
}
.cid-sDqF7mxvQH .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sDqF7mxvQH .panel-body,
.cid-sDqF7mxvQH .card-header {
  padding: 1rem 0;
}
.cid-sDqF7mxvQH .panel-title-edit {
  color: rgba(0,0,0,0.7);
}
.cid-sDqF7mxvQH .card .card-header {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(57,68,79,1);
  -moz-box-shadow: 0px 0px 19px 0px rgba(57,68,79,1);
  box-shadow: 0px 0px 19px 0px rgba(57,68,79,1);
}
.cid-sDqF7mxvQH H3 {
  color: rgba(0,0,0,0.7);
}
.cid-sDqF7mxvQH .panel-text {
  color: rgba(0,0,0,0.7);
}
.cid-sDpFzceBzf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sDpFzceBzf .mbr-section-title {
  color: #000000;
}
.cid-sDpFzceBzf .mbr-section-subtitle {
  color: #0a2540;
}
.cid-sDqKnl8ZL7 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #0a2540;
}
.cid-sDqKnl8ZL7 img {
  width: 120px;
  margin: auto;
}
.cid-sDqKnl8ZL7 .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sDqKnl8ZL7 .card {
    max-width: 20%;
  }
}
.cid-sDqKnl8ZL7 .mbr-section-title {
  color: #ffffff;
}
.cid-sDqKnl8ZL7 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sDqKnl8ZL7 .mbr-text {
  color: #ffffff;
}
.cid-sDqKnl8ZL7 .mbr-section-title DIV {
  text-align: center;
}
.cid-sDqFPtIYbA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sDqFPtIYbA .mbr-text,
.cid-sDqFPtIYbA .mbr-section-btn {
  color: #232323;
}
.cid-sDqFPtIYbA .btn {
  width: 100%;
}
.cid-sDqFPtIYbA .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-sDqFPtIYbA H1 {
  text-align: center;
}
.cid-sDpCKlrKiV {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #0a2540;
}
@media (max-width: 767px) {
  .cid-sDpCKlrKiV .content {
    text-align: center;
  }
  .cid-sDpCKlrKiV .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-sDpCKlrKiV .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-sDpCKlrKiV .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sDpCKlrKiV .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-sDpCKlrKiV .google-map {
  height: 25rem;
  position: relative;
}
.cid-sDpCKlrKiV .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sDpCKlrKiV .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sDpCKlrKiV .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sDpCKlrKiV .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sDpCKlrKiV .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sDpCKlrKiV .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-sDpCKlrKiV .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-sDpCKlrKiV .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-sDpCKlrKiV .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sDpCKlrKiV .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sDpCKlrKiV .list {
  list-style-type: none;
  padding: 0;
}
.cid-sDpCKlrKiV H5 {
  color: #ffffff;
}
.cid-sDpCKlrKiV .mbr-text {
  color: #ffffff;
}
.ripple {
  background-color: #059CE8;
  background-position: center;
  border-radius: 2px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Arial;
  font-size: 30px;
  outline: none;
  padding: 30px 50px;
  text-transform: uppercase;
  transition: background 0.8s;
}
.ripple:hover {
  background: #048bcf radial-gradient(circle, transparent 1%, #048bcf 1%) center/15000%;
}
.ripple:active {
  background-color: #047ab6;
  background-size: 100%;
  transition: background 0s;
}
.app-button{
  box-sizing: 10px 10px 0px 0px rgb(246 104 64 / 32%);;
}
.cid-sEwlHHluPT {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #ffffff;
}
.cid-sEwlHHluPT .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.font-custom{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
.top-bar{
  position: fixed;
  top:0;
  left:0;
  height: 40px;
  min-width: 100%;
  background-color : #f66840 !important;
}
.top-middle-bar{
  position: fixed;
  top:40px;
  left:0;
  height: 40px;
  min-width: 100%;
  background-color: #e3eeef !important;
}
.navbar-fixed-top{
  margin-top: 80px;
}
.text-phone{
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.deep-orange{
  color : #f66840;
  line-height: 16px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}
.btn-small{
  text-transform: uppercase;
  background-color : #f66840;
  color : #fff;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  border-radius: 10px;
}
.caps{
  font-size: 14px;
  font-weight: 700;
  color : rgba(0,0,0,0.7);
  line-height: 21px;
}
.caps:hover{
  font-size: 14px;
  font-weight: 700;
  color : rgba(0,0,0,0.3);
  line-height: 21px;
}
.small-button{
  font-size: 11px;
  font-weight: 400;
  height : 25px;
  border-radius: 10px;
  visibility: hidden;
}
.deep-orange{
  color : #f66840 !important;
}
.deep-orange-link:hover{
  text-decoration: underline !important;
}
.underline{
  color : #fff;
}
.underline:hover{
  text-decoration: underline;
}
.image-holder{
  max-height: 300px;
  
}
.hv-und:hover{
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .small-button{
    visibility: visible;
  }
  .mobile-hide{
      display: none;
  }
}