<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main px-5" id="head">
                Diet and Oral Health
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main px-5">
                Dental Advise by Dr. Smile | 8 May 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body px-5">
                <p class="heading-sub">
                    What is tooth decay?
                </p>
                <p>
                    Tooth decay damages your teeth and leads to fillings or even extractions. Decay happens when sugar reacts with the bacteria in plaque. This forms the acids that attack the teeth and destroy the enamel. After this happens many times, the tooth enamel may break down, forming a hole or 'cavity' into the dentine. The tooth can then decay more quickly.
                </p>
                <p class="heading-sub">
                    What foods can cause decay?
                </p>
                <p>
                    All sugars can cause decay. Sugar can come in many forms. Usually ingredients ending in ‘ose' are sugars, for example: sucrose, fructose and glucose are just three types. These sugars can all damage your teeth. <br>

                    Many processed foods have sugar in them, and the higher up it appears in the list of ingredients, the more sugar there is in the product. Always read the list of ingredients on the labels when you are food shopping. <br>

                    When you are reading the labels remember that 'no added sugar' does not necessarily mean that the product is sugar free. It simply means that no extra sugar has been added. These products may contain sugars such as those listed above, or the sugars may be listed as 'carbohydrates'. Ask your dental team if you are not sure. <br>
                </p>
                <p class="heading-sub">
                    Can food and drink cause erosion?
                </p>
                <p>
                    Acidic food and drinks can cause dental erosion - the gradual dissolving of the tooth enamel. Listed below are the 'pH values' of some food and drinks. The lower the pH number, the more acidic the product. Anything with a pH value lower than 5.5 may cause erosion. 'Alkalis' have a high pH number and cancel out the acid effects of sugars. pH 7 is the middle figure between acid and alkali.
                </p>
                <ul>
                    <li class="text-light">Mineral water (still) pH 7.6</li>
                    <li class="text-light">Milk pH 6.9</li>
                    <li class="text-light">Cheddar cheese pH 5.9</li>
                    <li class="text-light">Lager pH 4.4</li>
                    <li class="text-light">Orange juice pH 3.8</li>
                    <li class="text-light">Grapefruit pH 3.3</li>
                    <li class="text-light">Pickles pH 3.2</li>
                    <li class="text-light">Cola pH 2.5</li>
                    <li class="text-light">Red wine pH 2.5</li>
                    <li class="text-light">Vinegar pH 2.0</li>
                </ul>
                <p class="heading-sub">
                    Can I eat snacks?
                </p>
                <p>
                    It is better for your teeth and general health if you eat 3 meals a day instead of having 7 to 10 snacks. If you do need to snack between meals, choose foods that do not contain sugar. Fruit does contain acids, which can erode your teeth. However, this is only damaging to your teeth if you eat an unusually large amount. Try not to have a lot of dried fruit as it is high in sugar. <br>

                    If you do eat fruit as a snack, try to eat something alkaline such as cheese afterwards. Savoury snacks are better, such as Cheese,Raw vegetables,Nuts,Breadsticks.
                </p>
                <p class="heading-sub">
                    Can I eat sweets?
                </p>
                <p>
                    The main point to remember is that it is not the amount of sugar you eat or drink, but how often you do it. Sweet foods are allowed, but it is important just to have them at mealtimes. <br>

                    To help reduce tooth decay, cut down on how often you have sugary foods and drinks and try to have sugar-free varieties. Confectionery and chewing gum containing the artificial sweetener Xylitol may help to reduce tooth decay. <br>
                    
                    Sugary foods can also cause a range of health problems including heart disease and being overweight. <br>
                </p>
                <p class="heading-sub">
                    What should I drink?
                </p>
                <p>
                    Still water and milk are good choices. It is better for your teeth if you drink fruit juices just at meal times. If you are drinking them between meals, try diluting them with water.<br>

                    Diluted sugar-free fruit drinks are the safest alternative to water and milk. If you make these, be sure that the drink is diluted 1 part fruit drink to 10 parts water. Some soft drinks contain sweeteners, which are not suitable for young children - ask your dental team if you are not sure.<br>
                    
                    Fizzy drinks can increase the risk of dental problems. The sugar can cause decay and the acid in both normal and diet drinks can dissolve the enamel on the teeth. The risk is higher when you have these drinks between meals.<br>
                </p>
                <p class="heading-sub">
                    Should I brush my teeth after every meal?
                </p>
                <p>
                    It is important that you brush last thing at night and at least one other time during the day, with a toothpaste containing fluoride.<br>

                    Eating and drinking foods containing sugar and acids naturally weakens the enamel on your teeth. Brushing straight afterwards can cause tiny particles of enamel to be brushed away. It is best not to brush your teeth until at least one hour after eating.<br>
                    
                    It is especially important to brush before bed. This is because the flow of saliva, which is the mouth's own cleaning system, slows down during the night and this leaves the mouth more at risk from decay.<br>

                    Children up to three years old should use a toothpaste with a fluoride level of at least 1000ppm (parts per million). Three-year-olds to adults should use a toothpaste that contains 1350ppm to 1500ppm of fluoride.  <br>


                </p>
                <p class="heading-sub">
                    Why is a healthy diet important for my oral health?
                </p>
                <p>
                    Every time you eat or drink anything sugary, your teeth are under acid attack for up to one hour. This is because the sugar will react with the bacteria in plaque (the sticky coating on your teeth) and produce harmful acids. So it is important to have sugary foods or drinks just at mealtimes, limiting the amount of time your mouth is at risk. <br>

                    Acidic foods and drinks can be just as harmful. The acid ‘erodes' or dissolves the enamel, exposing the dentine underneath. This can make your teeth sensitive and unsightly. <br>
                    
                    A diet that is rich in vitamins, minerals and fresh fruit and vegetables can help to prevent  gum disease. Gum disease can lead to tooth loss and cause bad breath. <br>
                </p>
                <p class="heading-sub">
                    Does chewing gum help?
                </p>
                <p>
                    Chewing gum makes your mouth produce more saliva, which helps to cancel out the acid in your mouth after eating or drinking. It has been proven that using  sugar-free chewing gum after meals can prevent tooth decay. However, it is important to use only sugar-free gum, as ordinary chewing gum contains sugar and therefore may damage your teeth. 
                </p>
            </div>
        </div>
    </div>
</section>
