<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto col-10 heading-main px-5" id="head">
                Should Your Wisdom Teeth Be Removed And Other Common Questions
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-auto col-10 text-main px-5">
                Dental Advise by Dr. Smile | 8 May 2020
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-10 text-body px-5">
                <p>
                    Wisdom teeth are the third molars and typically don’t come in until you are 17-21 years old. Compared to the average age when the rest of our adult teeth come in (6-7 years old) ..
However, with time comes the increased chance of complication, as many wisdom teeth struggle finding room to grow in the mouth. That’s why wisdom teeth removal is so common. But do you really need to have your wisdom teeth removed? What happens if you don’t? And what is the procedure like? Let's answer these queries -
                </p>
                <p class="heading-sub">
                    Why are they called wisdom teeth?
                </p>
                <p>
                    Third molars are called “wisdom teeth” because they typically come in at an older age when you have more knowledge and experience.
                </p>
                <p class="heading-sub">
                    Does everyone get wisdom teeth?
                </p>
                <p>
                    No! The fun fact about wisdom teeth is people can get anywhere from 1 to 4, or sometimes none at all. Some scientists believe over time more and more people will evolve to no longer get wisdom teeth. 
                </p>
                <p class="heading-sub">
                    Why?
                </p>
                <p>
                    Because, kind of like the appendix, wisdom teeth don’t really serve a valuable purpose to the body. 
                </p>
                <p>
                    <strong>
                        However, it’s important to note that just because you don’t see or feel wisdom teeth coming in, doesn’t mean they aren’t there. Many wisdom teeth are present below the surface of the gums and can cause a number of dental problems if left unnoticed.
                    That’s why we recommend coming in for regular 6-month dental check ups. Our team will examine your mouth and review x-rays to determine the status of your wisdom teeth and advice accordingly.
                    </strong>
                </p>
                <p class="heading-sub">
                    Do wisdom teeth need to be removed?
                </p>
                <p>
                    It depends. Wisdom teeth present an interesting challenge to the modern day mouth. You see, the human jaw has grown smaller over time, leaving less room for the wisdom teeth molars to grow in. These third molars often struggle to fit as they try to erupt through your gums, and will sometimes grow sideways. When wisdom teeth are unable to grow normally, they can become impacted. An impacted wisdom tooth is one that doesn’t erupt above the gums, and instead remains trapped in the jaw. Impacted wisdom teeth can cause pain, tooth damage, and an increased chance of other dental problems, like decay or infection. 
                </p>
                <ul>
                    <li class="text-point">Crowding or damaging neighboring teeth </li>
                    <li class="text-point">Causing teeth to shift and become crooked </li>
                    <li class="text-point">Increased risk of cavities and infection, as bacteria has more places to develop </li>
                    <li class="text-point">Increased risk of gum disease if the wisdom teeth never erupt through the gums </li>
                    <li class="text-point">Jaw pain </li>
                    <li class="text-point">Cysts occurring near the wisdom tooth that may damage the roots of nearby teeth </li>
                </ul>
                <p>
                    Seeing all these problems at once, it makes sense why dentists usually recommend removing wisdom teeth, right? But sometimes wisdom teeth grow in without causing any problems. When that’s the case, as long as you can keep them clean, they probably don’t need to be removed.
                    <br>
                    It’s important to talk with your dentist about wisdom teeth. Our dentists can tell you any potential risks and create a customized wisdom teeth plan just for you.
                </p>
                <p class="heading-sub">
                    What happens during a wisdom teeth removal procedure?
                </p>
                <p>
                    Wisdom teeth removal is a same-day procedure requiring  local anesthesia which is injected near the site of your tooth extraction. It will numb the area but you still may feel some pressure. With this type of anesthesia, you will remain awake and alert during the whole procedure.
                    <br>
                    Once your anesthetic has taken effect, your dentist will make an incision near the wisdom tooth and remove the tooth and tooth root. From there, he’ll clean the site, stitch it up, and place gauze over it to stop any bleeding. 
                    <br>
                    Most of the time, the procedure won’t last more than an hour.
                </p>
                <p class="heading-sub">
                    How long does it take to recover from wisdom teeth removal?
                </p>
                <p>
                    People usually recover from wisdom teeth removal within 3-4 days of their procedure. But in some cases, especially when the teeth are impacted, recovery can take from 1-2 weeks. 
                    <br>
                    Typically, you’ll experience some discomfort and swelling immediately following the surgery, which can be managed with cold compresses and prescribed or over-the-counter pain medication. If your pain or swelling doesn’t decrease after a few days, or you experience intense pain or bleeding, call your dentist right away. 
                    <br>
                    The most important thing following wisdom teeth removal is to take it easy and avoid eating sharp foods or doing any activities that might disrupt the incision site or irritate the stitches.
                    <br>
                    After the procedure, you should plan to stick to a diet of soft foods, like curd, paneer, soup, pudding, or mashed potatoes. After 3-4 days, you can gradually start adding more solid foods back into your diet. 
                </p>
                <p>
                    <strong>Other things to avoid after wisdom teeth removal: </strong>
                </p>
                <ul>
                    <li class="text-point">Brushing or flossing the area for the first day after the procedure </li>
                    <li class="text-point">Swishing liquid around in your mouth </li>
                    <li class="text-point">Drinking from a straw </li>
                    <li class="text-point">Eating solid foods for the first couple of days</li>
                    <li class="text-point">Smoking</li>
                    <li class="text-point">Consuming hot or carbonated beverages</li>
                    <li class="text-point"> Drinking alcohol or caffeine </li>
                </ul>
                <p>
                    You should be able to resume normal activities the day following your surgery, but avoid exercise or other strenuous activity for at least the first week afterwards to ensure the incision site heals properly.
                </p>
            </div>
        </div>
    </div>
</section>
