<section class="content6 cid-sEwlHHluPT">   
    <div class="container-fluid p-0" id="head">
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-auto heading-main px-5" id="head">
                Meet The Team
            </div>
        </div>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-12 col-md-6 col-lg-5 my-2 mx-2 d-flex justify-content-center">
                <div class="card mb-3 mobile-hide" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <img src="../../assets/images/avatar.png" class="card-img-left" alt="Dr. Smile" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Abir Saha</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Proprietor, Dr. Smile</h6>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pc-hide" style="width: 18rem;">
                    <img src="../../assets/images/avatar.png" class="card-img-top mt-2" alt="Dr. Smile" style="border-radius: 50%;">
                    <div class="card-body">
                        <h5 class="card-title heading-sub">Dr. Abir Saha</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Proprietor, Dr. Smile</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 my-2 mx-2 d-flex justify-content-center">
                <div class="card mb-3 mobile-hide" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <img src="../../assets/images/avatar-girl.png" class="card-img-left" alt="Dr. Smile" style="border-radius: 50%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Dr. Namrata Datta</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Intern, Dr. Smile</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pc-hide" style="width: 18rem;">
                    <img src="../../assets/images/avatar-girl.png" class="card-img-top mt-2" alt="Dr. Smile" style="border-radius: 50%;">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Namrata Datta</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Intern, Dr. Smile</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
