<div id="top"></div>
<section class="content6 cid-sEwlHHluPT" id="content6-1">   
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-auto col-12 heading-main px-5" id="head">
                Root Canal Treatment(RCT)
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-auto col-12 px-5">
                <p>
                    Root canal treatment(RCT) is a dental procedure for the infected pulp of a tooth which is intended to result in the elimination of infection and protection of the remaining sound tooth structure from future microbial invasion. When decay gets into the softcore, the pulp can become inflamed or infected, or even necrotic (dead). A root canal is needed to clean out the decay.
                </p>
                <p>
                    You might feel -
                </p>
                <ul>
                    <li class="text-point">
                        Severe toothache pain upon chewing or pressure application
                    </li>
                    <li class="text-point">
                        Prolonged sensitivity /pain to hot or cold temperatures even after the heat or cold has been removed
                    </li>
                    <li class="text-point">
                        Discoloration (darkening) of the tooth
                    </li>
                    <li class="text-point">
                        Swelling in nearby gums
                    </li>
                    <li class="text-point">
                        Persistent or recurring pimple on the gums
                    </li>
                </ul>
                <p><strong>Disclaimer : It is not always necessary to feel all of these symptoms. You might just experience a few of them or none at all ( it might be even painless ! ). So it is always advisable to visit an expert Dentist if you feel any kind of  discomfort since 'Prevention is better than cure'.</strong></p>
                <p class="heading-sub-large">
                    Frequently Asked Questions(FAQ)
                </p>
                <p class="heading-sub ml-2">
                    Doc will it hurt ?
                </p>
                <p class="ml-2">
                    No. A small prick to numb the area in the first sitting and that's all, no pain during the procedure or after it.
                </p>
                <p class="heading-sub ml-2">
                    How long will the RCT treated tooth last ?
                </p>
                <p class="ml-2">
                    Well , history shows an accurately performed RCT can last more than 20 years.
                </p>
                <p class="heading-sub ml-2">
                    Is RCT expensive ?
                </p>
                <p class="ml-2">
                    Varies from clinic to clinic but here we try to provide the best possible treatment for reasonable prices .
                </p>
                <p class="heading-sub">Steps to perform RCT:</p>
                <ul>
                    <li class="text-point">
                        Extract bacteria and decay from the tooth pulp, root and nerve
                    </li>
                    <li class="text-point">
                        Disinfect the area with antibiotics
                    </li>
                    <li class="text-point">
                        Fill the empty roots
                    </li>
                    <li class="text-point">
                        Seal the area to prevent new decay
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>