<!--Home Page start-->
<section class="header2 cid-sCaOXoQw4E mbr-fullscreen style-header" id="header2-1">
    <div class="mbr-overlay" style="opacity: 0.4;background-color: #f76840"></div>
    <div class="container-fluid">
        <div class="row ml-3">
            <div class="col-12 col-lg-9">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1 main-heading row"><div class="col-12 col-md-6 col-lg-auto p-0"> Dr. Smile</div><div class="col-12 col-md-6 col-lg-7 p-0"><span class="mbr-fonts-style mb-3 display-5 text-sub-heading-main"><span class="hyphen">&nbsp;-&nbsp;</span>Your Smile Designer</span></div></h1>
                <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5 text-sub-heading-des row">
                    <div class="col-12 col-md-12 col-lg-12 p-0">
                        SMILE... and let the world wonder Why !!
                    </div>
                </h2>
                
                <div class="mbr-section-btn mt-3 ">
                    <a class="btn btn-danger display-4 button-style" href="https://form.jotform.com/212194400583046">Request Appointment</a>
                    <!--a class="btn btn-danger display-4" href="javascript:void( window.open( 'https://form.jotform.com/211982448397469', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) ">Book Online</a-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Home Page end-->

<!--Covid policy start-->
<section class="content6 cid-sEwlHHluPT py-5" id="content6-1" style="background-color: aliceblue; margin-top: 0px !important;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class=" align-center my-4 display-4">
                   <a routerLink="/covid" fragment = "top" style="color: #fab441;line-height: 1.75;"><strong>Click here</strong></a> to read an <strong>update from Dr. Smile regarding COVID-19 safety measures</strong> and what to expect at your next appointment.
                </h3>
            </div>
        </div>
    </div>
</section>
<!--Covid policy end-->

<!--Smile makeover start-->
<section class="content6 cid-sEwlHHluPT" id="content6-1" style="margin-top: 0px !important;">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-auto col-lg-10">
                <p class=" align-center my-4 display-4">
                    Enter to <strong>win a FREE smile makeover</strong>, or nominate someone you think deserves a brand new smile!
                </p>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-auto">
                <a class="btn btn-danger display-4 button-style" href="https://form.jotform.com/212216346337047" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
</section>
<!--Smile makeover end-->
<div id="about-us-top" class="top"></div>
<!--About us start-->
<section class="about-us" id="about-us" style="background-color: aliceblue;">
    <div class="container-fluid pt-5 pb-3">
        <div class="row d-flex justify-content-center my-2">
            <div class="col-12 col-md-5 col-lg-5 my-2">
                <h1 class="font-weight-bold display-3" style="color:rgba(0,0,0,0.7);font-size: 45px; line-height: 59px; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;">
                    Welcome to the Dental Office of Dr. Abir Kumar Saha
                </h1>
            </div>
            <div class="col-11 col-md-6 col-lg-5 my-2">
                <div class="row display-4 font-weight-bold text-sub-heading mb-3">Everything You Need Under One Roof</div>
                <div class="row lead text-normal">
                    Our comprehensive services allow you to receive all needed dental care right here in our state-of-art office – from dental cleanings and fillings to dental implants and extractions.
                </div>
            </div>
        </div>
        <div class="row mt-2 d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 col-lg-5 text-italic my-2">
                Dr. Smile has been proud to combine modern techniques and high-tech equipment. Dr. Saha and his team deliver a personalized and comfortable dental care experience, unlike any other dentist.
            </div>
            <div class="col-11 col-md-6 col-lg-5 my-2">
                <div class="row display-4 font-weight-bold text-sub-heading mb-3">Our Patient-Focused Approach</div>
                <div class="row text-normal">
                    Your treatment plan will perfectly match your needs, lifestyle, and goals. Even if it’s been years since you last visited the dentist, we can help. Our comfortable office, compassionate team, and minimally invasive treatments will help you feel completely at ease.
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-4">
            <a class="btn btn-danger display-4 button-style" routerLink="/team" fragment="top">Learn More</a>
        </div>
    </div>
</section>
<!--About us end-->

<!-- Why Choose Us Section Start-->
<section class="features1 cid-sDoKqPFAJI" id="features1-5" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 text-choose-heading">
                    <strong>Why Choose Us</strong></h3>
                
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper mb-3">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <h5 class="card-title choose-sub-heading"><strong>Comprehensive Services</strong></h5>
                        <p class="card-text choose-text-normal">We’re your one-stop-shop for dental care. Whatever you’re experiencing, we have the experience, technology, and compassion to help reach your goals.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper mb-3">
                            <i class="far fa-check-circle"></i>      
                        </div>
                        <h5 class="card-title choose-sub-heading"><strong>Your Comfort, Our Priority</strong></h5>
                        <p class="card-text choose-text-normal">Enjoy a relaxing office environment, welcoming team, and soothing amenities. Plus, we offer advanced sedation options to ensure your comfort and help those with anxiety.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper mb-3">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <h5 class="card-title choose-sub-heading"><strong>Care When You Need It</strong></h5>
                        <p class="card-text choose-text-normal">Enjoy a relaxing office environment, welcoming team, and soothing amenities. Plus, we offer advanced sedation options to ensure your comfort and help those with anxiety.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Why Choose Us Section End-->

<!--Service section start-->
<app-services id="services"></app-services>
<!-- Service section end-->

<!-- Smile transformation section start-->
<section class="gallery5 mbr-gallery cid-sDqHlAVQ14" id="gallery5-i">
    <div class="container">
        <div class="mbr-section-head mb-5">
            <h3 class="mbr-section-title mbr-fonts-style align-center m-0 smile-heading">Our Smile Transformations</h3>
        </div>
        <div class="row mbr-gallery mt-4">
            <div class="col-12 col-md-6 col-lg-3">
                <img-comparison-slider>
                    <figure slot="first" class="before">
                        <img width="100%" src="assets/images/before1.png">
                        <figcaption>Before</figcaption>
                    </figure>
                    <figure slot="second" class="after">
                        <img width="100%" src="assets/images/after1.png">
                    <figcaption>After</figcaption>
                    </figure>                
                </img-comparison-slider>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <img-comparison-slider>
                    <figure slot="first" class="before">
                        <img width="100%" src="assets/images/before2.png">
                        <figcaption>Before</figcaption>
                    </figure>
                    <figure slot="second" class="after">
                        <img width="100%" src="assets/images/after2.png">
                    <figcaption>After</figcaption>
                    </figure>                
                </img-comparison-slider>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <img-comparison-slider>
                    <figure slot="first" class="before">
                        <img width="100%" src="assets/images/before3.png">
                        <figcaption>Before</figcaption>
                    </figure>
                    <figure slot="second" class="after">
                        <img width="100%" src="assets/images/after3.png">
                    <figcaption>After</figcaption>
                    </figure>                
                </img-comparison-slider>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <img-comparison-slider style="width: 100% !important;">
                    <figure slot="first" class="before">
                        <img width="100%" src="assets/images/before4.png">
                        <figcaption>Before</figcaption>
                    </figure>
                    <figure slot="second" class="after">
                        <img width="100%" src="assets/images/after4.png">
                    <figcaption>After</figcaption>
                    </figure>                
                </img-comparison-slider>
            </div>
            
        </div>
    </div>
</section>
<!-- Smile transformation section end-->

<!--New Patient Experience start-->
<section class="image2 cid-sExmPgvNL1" id="image2-4" style="background-color: aliceblue;">
    <div>
        <div class="row justify-content-center text-white">
            <div class="col-11 col-lg-6 mt-3">
                <div class="image-wrapper">
                    <img src="assets/images/new-patient-v2.jpg" alt="Sr. Smile" class="image">
                </div>
            </div>
            <div class="col-11 col-lg-6 p-0">
                <div class="text-wrapper">
                    <div class="row justify-content-center ">
                        <div class="col-11 mt-3">
                            <h3 class="mbr-section-title text-choose-heading mt-3" >
                                <strong>New Patient Experience</strong>
                            </h3>
                            <h5 class="mbr-section-title mb-3 my-3 choose-sub-heading">
                                <strong>From the moment you step into our Dr. Smile, we’ll help you feel comfortable and at ease.</strong>
                            </h5>
                            <p class="mbr-text choose-text-normal">
                                Our friendly staff will explain what to expect, outline payment and financing options, and answer all your questions. We’ll listen to your health goals and concerns. Together we’ll outline a care plan completely personalized to your needs and smile goals.
                                <br><br>
                                Our entire team is committed to helping you prevent dental problems and achieve a healthy, beautiful, and confident smile.
                                <br><br>
                                With Dr. Saha's expertise, personalized approach, and use of modern, advanced treatments, you can be confident that your dentist appointment will be enjoyable and comfortable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--New Patient Experience End-->

<!-- Insurance Start-->
<section class="clients1 cid-sDqKnl8ZL7" id="clients1-j" style="background-color: white;">
    
    <div class="images-container container-fluid py-5">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-2 text-choose-heading">
                Insurance and Financing
            </h3>
            <h4 class="mbr-section-subtitle align-center mb-0 mt-3 choose-text-normal">
                We accept insurance from Bajaj Finserv presently. 
            </h4>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-10 col-6 col-lg-4 card shadow">
                <img src="assets/images/bajaj-finserv-770x433.webp">
                <div class="card-body">
                    <h5 class="card-title">Features</h5>
                    <div class="card-text">
                        <ul>
                            <li>Affordable down-payment</li>
                            <li>Budget EMIs</li>
                            <li>Zero finance(0% Interest Rate)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <span class="col-10 col-10 col-lg-10 text-center">No insurance? No problem. Enroll in one of our 
                <a (click)="openMember()" class="deep-orange">membership program</a> or navigate through 
                <a (click)="openOffer()" class="deep-orange">amazing offers</a>. Call 
                <a href="tel:+919674303234" class="deep-orange">+91 9674303234</a> to learn more.</span>
        </div>
    </div>
</section>
<!-- Insurance End-->

<!--Explore your Oral Cavity Start-->
<app-oral id="oral"></app-oral>
<!--Explore your Oral Cavity End-->

<!--Community Section Start-->
<section class="community" id="community" style="background-color: aliceblue;">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center py-5">
           <div class="col-auto text-choose-heading">
                Dr. Smile Supports Our Community
           </div>
        </div>
        <div class="row d-flex justify-content-center lead my-4">
            <div class="col-auto choose-text-normal">
                Dr. Smile supports the community by giving back and visits <strong>South Dum Dum Municipality Hospital</strong> every Saturday afternoon.
                <br>Call us at : <a href="tel:03325608387" style="color : #023E8A">03325608387</a><br>Our Website : <a href="www.sddm.ind.in" style="color : #023E8A">www.sddm.ind.in</a>
            </div>
         </div>
         <div class="row d-flex justify-content-center">
             <div class="col-11 col-md-3 col-lg-4 my-1 p-0">
                <img src="../../assets/images/Screenshot 2021-08-11 030133.png" alt="" srcset="" height="500px" width="500px">
             </div>
             <div class="col-12 col-md-6 col-lg-6 my-1">
                <iframe width="600" height="500" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJd_juiRqe-DkRGbA3rRSsSn0&key=AIzaSyD79t-kfxeVlxdQde7oYSR7ue_rPNYkrr4"></iframe>
             </div>
         </div>
    </div>
</section>
<!--Community Section end-->

<!-- Form Start-->
<section class="form2 cid-sDqFPtIYbA" id="form2-g" style="background-color: aliceblue;">
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form">
                <form class="mbr-form form-with-styler" data-form-title="Form Name">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                            out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 text-choose-heading">Get a call from us!</h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mb-5 choose-text-normal">We take our patients’ privacy seriously. Please don't provide any personal health or sensitive information.</p>
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group" data-for="email">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" id="name-form2-g" [(ngModel)]="queryForm.Name" required >
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" id="email-form2-g" [(ngModel)]="queryForm.Email" required>
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group" data-for="mobile">
                            <input type="text" name="phone" placeholder="Mobile" data-form-field="mobile" class="form-control" id="mobile-form2-g" [(ngModel)]="queryForm.Mobile" required>
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group" data-for="message">
                            <textarea name="message" id="message" cols="30" rows="5"  class="form-control" id="message-form2-g" placeholder="Message" [(ngModel)]="queryForm.Message"></textarea>
                        </div>
                        <span class="gdpr-block d-flex justify-content-start mx-3 mb-2">
                            <label>
                                <span class="textGDPR display-7 choose-text-normal">
                                    <input type="checkbox" name="gdpr" id="gdpr-form2-g" required="" [(ngModel)]="cond" (click)="check()" [checked]="cond">By continuing you agree to our <a style="color: #6592e6; text-decoration: underline;" href="terms.html">Terms of Service</a> and <a style="color: #6592e6; text-decoration: underline;" href="policy.html">Privacy Policy</a>.
                                </span>
                            </label>
                        </span>
                        <div class="mbr-section-btn col-md-auto col">
                            <button type="submit" class="btn btn-danger display-4 button-style" (click)="submitQuery()">Register</button>
                        </div>
                    </div>
                
            </form>
            </div>
        </div>
    </div>
</section>
<!-- Form End-->

<!--Membership modal start-->
<div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Membership Plan</h5>
          <button type="button" class="close" (click)="closeMember()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row p-0">
                <img src="../../assets/images/membership.JPG" alt="" class="image image-responsive" style="visibility: visible;">
            </div>
            <div class="row d-flex justify-content-center">
                <a class="btn btn-danger display-4 button-style" href="https://form.jotform.com/212216404476046">Register Now</a>
            </div>
        </div>
      </div>
    </div>
</div>
<!--Membership modal end-->

<!--Offer modal start-->
<div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Amazing Offers</h5>
          <button type="button" class="close" (click)="closeOffer()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row p-0 d-flex justify-content-around">
                <div class="col-12 col-md-3 col-lg-4 my-1 image-holder">
                    <img src="../../assets/images/offer-1.JPG" alt="" class="image image-responsive" style="visibility: visible;">
                </div>
                <div class="col-12 col-md-3 col-lg-4 my-1 image-holder">
                    <img src="../../assets/images/offer-2.JPG" alt="" class="image image-responsive" style="visibility: visible;">
                </div>
                <div class="col-12 col-md-3 col-lg-4 my-1 image-holder">
                    <img src="../../assets/images/offer-3.JPG" alt="" class="image image-responsive" style="visibility: visible;">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <a class="btn btn-danger display-4 button-style" href="https://forms.gle/9C1y7tQ9QoKfbxSW7">Avail Now</a>
            </div>
        </div>
      </div>
    </div>
</div>
<!--Offer modal end-->

